Repository feldera/feldera, pull requests merged in 2023-11, with the labels that each got.

#967 web-console: number of records in pipeline table is no longer rounded
  CHANGELOG.md
  web-console/src/lib/components/streaming/management/PipelineTable.tsx
Labels: enhancement, Web Console, User-facing

#968 per-group topk
  CHANGELOG.md
  crates/dbsp/src/operator/group/mod.rs
  crates/dbsp/src/operator/group/test.rs
  crates/dbsp/src/operator/group/topk.rs
  docs/sql/grammar.md
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/circuit/operator/DBSPIndexedTopKOperator.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/DBSPCompiler.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/backend/jit/ToJitInnerVisitor.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/backend/rust/RustSqlRuntimeLibrary.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/backend/rust/ToRustVisitor.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/frontend/AggregateCompiler.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/frontend/CalciteToDBSPCompiler.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/frontend/ExpressionCompiler.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/frontend/TypeCompiler.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/frontend/calciteCompiler/CalciteCompiler.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/ir/DBSPAggregate.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/ir/expression/literal/DBSPI16Literal.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/ir/expression/literal/DBSPI32Literal.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/ir/expression/literal/DBSPI64Literal.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/ir/expression/literal/DBSPI8Literal.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/ir/expression/literal/DBSPU32Literal.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/ir/expression/literal/DBSPU64Literal.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/ir/type/DBSPTypeFunction.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/ir/type/DBSPTypeTupleBase.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/ir/type/primitive/DBSPTypeInteger.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqllogictest/executors/DbspJdbcExecutor.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/ArrayTests.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/ComplexQueriesTest.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/EndToEndTests.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/NaiveIncrementalTests.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/OtherTests.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/postgres/PostgresBaseTest.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/postgres/PostgresNumericTests.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/postgres/PostgresTimestampTests.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/postgres/TopKTests.java
  sql-to-dbsp-compiler/lib/sqllib/src/operators.rs
  sql-to-dbsp-compiler/lib/sqllib/src/timestamp.rs
Labels: SQL compiler, DBSP core

#969 Account for weights in `rank` and `row_number`.
  crates/dbsp/src/operator/group/test.rs
  crates/dbsp/src/operator/group/topk.rs
Labels: DBSP core

#971 Allow pipeline manager to run without JIT support.
  crates/pipeline_manager/src/config.rs
  crates/pipeline_manager/src/integration_test.rs
  crates/pipeline_manager/src/local_runner.rs
  crates/pipeline_manager/src/runner.rs
Labels: Pipeline Manager

#970 Change default secrets directory and update related terminology
  CHANGELOG.md
  crates/adapters/src/transport/kafka/input.rs
  crates/adapters/src/transport/kafka/output.rs
  crates/adapters/src/transport/secret_resolver.rs
Labels: adapters, User-facing

#962 Refactor queries and mutations containing pipeline status
  web-console/.eslintrc.json
  web-console/src/app/(root)/(authenticated)/(app)/streaming/builder/page.tsx
  web-console/src/app/(root)/(authenticated)/(app)/streaming/inspection/page.tsx
  web-console/src/lib/components/analytics/TableSqlPrograms.tsx
  web-console/src/lib/components/home/Health.tsx
  web-console/src/lib/components/home/Pipelines.tsx
  web-console/src/lib/components/home/pipelines/PipelineThumb.tsx
  web-console/src/lib/components/streaming/import/ImportToolbar.tsx
  web-console/src/lib/components/streaming/import/InsertionTable.tsx
  web-console/src/lib/components/streaming/inspection/InspectionTable.tsx
  web-console/src/lib/components/streaming/inspection/InspectionToolbar.tsx
  web-console/src/lib/components/streaming/management/PipelineTable.tsx
  web-console/src/lib/components/streaming/management/RevisionStatus.tsx
  web-console/src/lib/compositions/streaming/builder/useSqlPlaceholderClick.ts
  web-console/src/lib/compositions/streaming/management/StatusContext.ts
  web-console/src/lib/compositions/streaming/management/useDeletePipeline.ts
  web-console/src/lib/compositions/streaming/management/usePausePipeline.ts
  web-console/src/lib/compositions/streaming/management/usePipelineMetrics.ts
  web-console/src/lib/compositions/streaming/management/usePipelineMutation.ts
  web-console/src/lib/compositions/streaming/management/useShutdownPipeline.ts
  web-console/src/lib/compositions/streaming/management/useStartPipeline.ts
  web-console/src/lib/functions/common/array.ts
  web-console/src/lib/functions/common/enum.ts
  web-console/src/lib/functions/common/function.ts
  web-console/src/lib/functions/common/tanstack.ts
  web-console/src/lib/services/pipelineManagerQuery.ts
  web-console/src/lib/types/pipeline.ts
Labels: Web Console, javascript

#979 Support for DENSE_RANK and ROW_NUMBER in TopK
  docs/sql/aggregates.md
  docs/sql/grammar.md
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/circuit/operator/DBSPIndexedTopKOperator.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/backend/rust/ToRustVisitor.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/frontend/CalciteToDBSPCompiler.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/ir/type/primitive/DBSPTypeDate.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/postgres/TopKTests.java
Labels: SQL compiler

#975 Implement pause/resume for displaying rows in Data Inspection table
  CHANGELOG.md
  web-console/src/lib/components/home/Pipelines.tsx
  web-console/src/lib/components/streaming/inspection/InspectionTable.tsx
  web-console/src/lib/components/streaming/inspection/InspectionToolbar.tsx
  web-console/src/lib/components/streaming/management/PipelineTable.tsx
  web-console/src/lib/compositions/streaming/inspection/useTableUpdater.ts
Labels: enhancement, Web Console, javascript, User-facing

#1001 Fix Data browser shows the same data in all views
  web-console/src/lib/compositions/streaming/inspection/useTableUpdater.ts
Labels: bug, Web Console, javascript

#1009 Fix COMPILING status of a pipeline with no program
  CHANGELOG.md
  web-console/src/lib/components/streaming/management/PipelineTable.tsx
Labels: bug, Web Console, javascript

#1003 Refactor list of tables and views in breadcrumbs to autocomplete combobox
  CHANGELOG.md
  web-console/src/app/(root)/(authenticated)/(app)/streaming/inspection/page.tsx
  web-console/src/lib/components/common/BreadcrumbSelect.tsx
Labels: enhancement, Web Console, javascript

#1037 Update `uuid` crate to 1.6.1 to fix build for dbsp_pipeline tests.
  .cargo/config
  Cargo.lock
  Earthfile
  crates/pipeline_manager/Cargo.toml
Labels: bug, Pipeline Manager, rust

#1033 Add "Queued" status for pipelines whose programs are enqueued to be compiled
  CHANGELOG.md
  web-console/src/lib/components/streaming/management/PipelineTable.tsx
Labels: Web Console, javascript, User-facing

#1069 Add trailing slash to Cognito redirect_uri
  web-console/src/app/(root)/(blank)/auth/aws/page.tsx
  web-console/src/app/(root)/(blank)/login/page.tsx
Labels: Web Console, javascript
