Repository feldera/feldera, pull requests merged in 2023-09, with the labels that each got.

#710 Infer the layout of json demands
  crates/dataflow-jit/src/codegen/json/deserialize.rs
  crates/dataflow-jit/src/main.rs
Labels: JIT

#715 [JIT] Implemented JIT output demands
  crates/dataflow-jit/src/codegen/intrinsics/deserialize.rs
  crates/dataflow-jit/src/codegen/intrinsics/mod.rs
  crates/dataflow-jit/src/codegen/json/serialize.rs
  crates/dataflow-jit/src/facade/demands.rs
  crates/dataflow-jit/src/facade/handle.rs
  crates/dataflow-jit/src/facade/mod.rs
  crates/dataflow-jit/src/main.rs
Labels: enhancement, JIT

#733 Small refactoring of the JIT facade to align it with adapters.
  crates/dataflow-jit/src/codegen/json/deserialize.rs
  crates/dataflow-jit/src/facade/handle.rs
  crates/dataflow-jit/src/facade/mod.rs
Labels: JIT

#752 Infrastructure to run JIT-compiled pipelines.
  .gitignore
  Cargo.lock
  Earthfile
  crates/adapters/Cargo.toml
  crates/adapters/build.rs
  crates/adapters/src/catalog.rs
  crates/adapters/src/circuit_handle.rs
  crates/adapters/src/controller/error.rs
  crates/adapters/src/controller/mod.rs
  crates/adapters/src/jit/catalog.rs
  crates/adapters/src/jit/csv.rs
  crates/adapters/src/jit/deinput.rs
  crates/adapters/src/jit/json.rs
  crates/adapters/src/jit/mod.rs
  crates/adapters/src/jit/pipeline.rs
  crates/adapters/src/jit/schema.rs
  crates/adapters/src/jit/seroutput.rs
  crates/adapters/src/lib.rs
  crates/adapters/src/pipeline.rs
  crates/adapters/src/server/error.rs
  crates/adapters/src/server/mod.rs
  crates/adapters/src/static_compile/catalog.rs
  crates/adapters/src/static_compile/deinput.rs
  crates/adapters/src/test/mod.rs
  crates/adapters/src/transport/kafka/test.rs
  crates/adapters/tests/jit_integration_test.rs
  crates/adapters/tests/sql_tests/.gitignore
  crates/adapters/tests/sql_tests/secops/config.yaml
  crates/adapters/tests/sql_tests/secops/project.sql
  crates/adapters/tests/sql_tests/supply_chain/config.yaml
  crates/adapters/tests/sql_tests/supply_chain/project.sql
  crates/dataflow-jit/src/facade/mod.rs
  crates/pipeline_manager/src/compiler.rs
Labels: JIT

#771 Debezium MySQL demo
  Earthfile
  crates/adapters/src/format/json/input.rs
  crates/adapters/src/format/json/mod.rs
  demo/__init__.py
  demo/demo.sh
  demo/project_demo05-DebeziumMySQL/project.sql
  demo/project_demo05-DebeziumMySQL/run.py
  deploy/docker-compose-debezium.yml
  deploy/docker-compose.yml
Labels: adapters

#801 Regression in CSV parser
  crates/adapters/src/format/csv.rs
  crates/pipeline_manager/src/integration_test.rs
Labels: adapters

#812 A framework for configurable deserialization
  Cargo.lock
  Earthfile
  crates/adapters/Cargo.toml
  crates/adapters/src/catalog.rs
  crates/adapters/src/format/deserializer.rs
  crates/adapters/src/format/json/input.rs
  crates/adapters/src/format/json/output.rs
  crates/adapters/src/format/mod.rs
  crates/adapters/src/jit/deinput.rs
  crates/adapters/src/jit/seroutput.rs
  crates/adapters/src/lib.rs
  crates/adapters/src/server/mod.rs
  crates/adapters/src/static_compile/catalog.rs
  crates/adapters/src/static_compile/deinput.rs
  crates/adapters/src/static_compile/deserialize_with_context.rs
  crates/adapters/src/static_compile/deserializer_config.rs
  crates/adapters/src/static_compile/mod.rs
  crates/adapters/src/static_compile/seroutput.rs
  crates/adapters/src/test/data.rs
  crates/adapters/src/test/mock_dezset.rs
  crates/adapters/src/test/mod.rs
  crates/adapters/src/transport/file.rs
  crates/adapters/src/transport/url.rs
  crates/dbsp/src/operator/sample.rs
  crates/dbsp/src/time/antichain.rs
  crates/pipeline_manager/src/api.rs
  demo/project_demo05-DebeziumMySQL/run.py
  python/feldera-api-client/feldera_api_client/models/__init__.py
  python/feldera-api-client/feldera_api_client/models/json_flavor.py
  python/feldera-api-client/feldera_api_client/models/json_parser_config.py
  sql-to-dbsp-compiler/lib/sqllib/Cargo.toml
  sql-to-dbsp-compiler/lib/sqllib/src/lib.rs
  sql-to-dbsp-compiler/lib/sqllib/src/timestamp.rs
  sql-to-dbsp-compiler/lib/tuple/src/lib.rs
Labels: adapters

#816 Adjustments for Debezium decimal parsing.
  Cargo.lock
  crates/adapters/Cargo.toml
  crates/adapters/src/static_compile/deserialize_with_context.rs
  demo/project_demo05-DebeziumMySQL/run.py
  docs/api/json.md
Labels: adapters
