Repository feldera/feldera, pull requests merged in 2023-12, with the labels that each got.

#1088 Remove runtime dependency of Monaco Editor
  web-console/src/app/(root)/(authenticated)/layout.tsx
Labels: Web Console, javascript

#1123 [SQL] Add the mathematical constant PI
  CHANGELOG.md
  docs/sql/float.md
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/frontend/ExpressionCompiler.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/simple/TrigonometryTests.java
  sql-to-dbsp-compiler/lib/sqllib/src/lib.rs
Labels: documentation, SQL compiler, User-facing

#1096 Add button to copy bearer token to clipboard
  web-console/src/@core/layouts/components/shared-components/UserDropdown.tsx
  web-console/src/lib/components/layouts/vertical/AppBarContent.tsx
Labels: Web Console, javascript, User-facing

#1121 Change .svg loader to enable controlling SVG image color in dark mode
  .devcontainer/devcontainer.json
  CHANGELOG.md
  web-console/next.config.js
  web-console/package.json
  web-console/public/icons/vendors/apache-kafka-icon.svg
  web-console/public/images/generic/http-get.svg
  web-console/public/images/vendors/debezium-logo-color.svg
  web-console/public/images/vendors/kafka-logo-black.svg
  web-console/public/images/vendors/snowflake-logo.svg
  web-console/src/@core/layouts/components/vertical/navigation/VerticalNavHeader.tsx
  web-console/src/lib/components/common/spinner/index.tsx
  web-console/src/lib/components/connectors/dialogs/AddConnectorCard.tsx
  web-console/src/lib/components/connectors/drawer/AddSourceDrawer.tsx
  web-console/src/lib/components/layouts/analytics/CompileIndicator.tsx
  web-console/src/lib/components/streaming/builder/NodeTypes/InputNode.tsx
  web-console/src/lib/components/streaming/builder/NodeTypes/OutputNode.tsx
  web-console/src/lib/functions/connectors.ts
  web-console/src/lib/types/imports.ts
  web-console/yarn.lock
Labels: enhancement, Web Console, javascript, User-facing

#1128 Add 'Inspect connector' button to the connector list in Pipeline Builder
  CHANGELOG.md
  web-console/src/@core/layouts/components/shared-components/UserDropdown.tsx
  web-console/src/app/(root)/(authenticated)/(app)/connectors/create/page.tsx
  web-console/src/app/(root)/(authenticated)/(app)/streaming/builder/page.tsx
  web-console/src/lib/components/connectors/DataSourceTable.tsx
  web-console/src/lib/components/connectors/dialogs/AnyConnector.tsx
  web-console/src/lib/components/connectors/dialogs/DebeziumInputConnector.tsx
  web-console/src/lib/components/connectors/dialogs/GenericEditorConnector.tsx
  web-console/src/lib/components/connectors/dialogs/KafkaInputConnector.tsx
  web-console/src/lib/components/connectors/dialogs/KafkaOutputConnector.tsx
  web-console/src/lib/components/connectors/dialogs/SnowflakeOutputConnector.tsx
  web-console/src/lib/components/connectors/dialogs/UnknownConnector.tsx
  web-console/src/lib/components/connectors/dialogs/UrlConnector.tsx
  web-console/src/lib/components/connectors/dialogs/tabs/TabFooter.tsx
  web-console/src/lib/components/connectors/dialogs/tabs/TabGenericInputFormatDetails.tsx
  web-console/src/lib/components/connectors/dialogs/tabs/TabOutputFormatDetails.tsx
  web-console/src/lib/components/connectors/dialogs/tabs/debezium/DebeziumInputFormatDetails.tsx
  web-console/src/lib/components/connectors/dialogs/tabs/kafka/TabKafkaAuth.tsx
  web-console/src/lib/components/connectors/dialogs/tabs/kafka/TabKafkaInputDetails.tsx
  web-console/src/lib/components/connectors/dialogs/tabs/kafka/TabKafkaNameAndDesc.tsx
  web-console/src/lib/components/connectors/dialogs/tabs/kafka/TabKafkaOutputDetails.tsx
  web-console/src/lib/components/connectors/dialogs/tabs/snowflake/SnowflakeOutputFormatDetails.tsx
  web-console/src/lib/components/connectors/drawer/AddSourceDrawer.tsx
  web-console/src/lib/components/connectors/drawer/SelectSourceTable.tsx
  web-console/src/lib/components/layouts/vertical/AppBarContent.tsx
  web-console/src/lib/types/connectors/ConnectorDialogProps.ts
Labels: enhancement, Web Console, javascript, User-facing

#1127 [SQL] Add trigonometric functions
  CHANGELOG.md
  docs/sql/float.md
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/frontend/ExpressionCompiler.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/postgres/PostgresFloat4Tests.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/simple/TrigonometryTests.java
  sql-to-dbsp-compiler/lib/sqllib/src/casts.rs
  sql-to-dbsp-compiler/lib/sqllib/src/lib.rs
Labels: documentation, SQL compiler, User-facing

#1162 Fix WebConsole calling incorrect endpoint for receiving egress data
  web-console/src/lib/components/streaming/inspection/InspectionTable.tsx
Labels: bug

#1164 WebConsole: Fix regression of deleting rows
  web-console/src/lib/compositions/streaming/inspection/useDeleteRows.ts
Labels: bug

#1165 WebConsole safe temp fix: enable auth for egress streaming http request
  web-console/src/lib/components/streaming/inspection/InspectionTable.tsx
  web-console/src/lib/compositions/streaming/inspection/useQuantiles.ts
  web-console/src/lib/compositions/streaming/inspection/useTableUpdater.ts
  web-console/src/lib/functions/common/tanstack.ts
  web-console/src/lib/services/HttpInputOutputService.ts
  web-console/src/lib/types/common/function.ts
Labels: bug, Web Console, javascript

#1194 [SQL] Run time error if casting string to integer fails
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/functions/FunctionsTest.java
  sql-to-dbsp-compiler/lib/sqllib/src/casts.rs
Labels: bug, SQL compiler

#1179 [SQL] Add tests for casting between Integer types
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/postgres/PostgresInt2Tests.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/postgres/PostgresInt4Tests.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/postgres/PostgresInt8Tests.java
Labels: SQL compiler

#1210 [SQL] Add SQLIoTest::qf for failing rust test case
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/SqlIoTest.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/functions/FunctionsTest.java
Labels: SQL compiler
