Repository feldera/feldera, pull requests merged in 2023-10, with the labels that each got.

#823 [JIT] Fixed issue with nullish and padding values producing wrong eq results
  crates/dataflow-jit/src/codegen/intrinsics/mod.rs
  crates/dataflow-jit/src/codegen/layout.rs
  crates/dataflow-jit/src/codegen/vtable/cmp.rs
  crates/dataflow-jit/src/row.rs
Labels: bug, JIT

#849 Forbid empty group.id in Kafka form
  CHANGELOG.md
  web-console/src/lib/components/connectors/dialogs/DebeziumInputConnector.tsx
  web-console/src/lib/components/connectors/dialogs/KafkaInputConnector.tsx
  web-console/src/lib/components/connectors/dialogs/tabs/kafka/TabKafkaAuth.tsx
Labels: javascript, User-facing

#848 Custom Kafka Connect docker image.
  .github/workflows/containers.yml
  Earthfile
  deploy/Dockerfile
  deploy/docker-compose-debezium.yml
Labels: adapters

#852 Fix busy-wait loop in Kafka producer.
  CHANGELOG.md
  crates/adapters/src/transport/kafka/output.rs
Labels: adapters

#858 Prefer last lines of output when reporting an error
  CHANGELOG.md
  web-console/src/lib/components/home/Health.tsx
Labels: enhancement, Web Console, javascript, User-facing

#868 Experimental Snowflake sink.
  .github/workflows/ci.yml
  .gitignore
  CHANGELOG.md
  Cargo.lock
  Earthfile
  crates/adapters/Cargo.toml
  crates/adapters/src/catalog.rs
  crates/adapters/src/controller/error.rs
  crates/adapters/src/controller/mod.rs
  crates/adapters/src/format/csv.rs
  crates/adapters/src/format/json/input.rs
  crates/adapters/src/format/json/mod.rs
  crates/adapters/src/format/json/output.rs
  crates/adapters/src/format/mod.rs
  crates/adapters/src/transport/kafka/mod.rs
  demo/__init__.py
  demo/demo_notebooks/requirements.txt
  demo/project_demo07-SnowflakeSink/project.sql
  demo/project_demo07-SnowflakeSink/run.py
  demo/project_demo07-SnowflakeSink/setup.sql
  deploy/Dockerfile
  deploy/docker-compose-debezium.yml
  deploy/docker-compose.yml
  python/dbsp/pipeline.py
  python/feldera-api-client/feldera_api_client/models/json_encoder_config.py
  python/feldera-api-client/feldera_api_client/models/json_update_format.py
Labels: adapters

#820 Add AWS Cognito authentication to authorize requests to Pipeline Manager
  CHANGELOG.md
  crates/pipeline_manager/Makefile.toml
  crates/pipeline_manager/src/api.rs
  crates/pipeline_manager/src/auth.rs
  crates/pipeline_manager/src/config.rs
  crates/pipeline_manager/src/integration_test.rs
  deploy/docker-compose.yml
  docs/contributors/dev-flow.md
  python/feldera-api-client/feldera_api_client/api/manager/__init__.py
  python/feldera-api-client/feldera_api_client/api/manager/get_authentication_config.py
  python/feldera-api-client/feldera_api_client/models/__init__.py
  python/feldera-api-client/feldera_api_client/models/auth_provider_type_0.py
  python/feldera-api-client/feldera_api_client/models/auth_provider_type_1.py
  python/feldera-api-client/feldera_api_client/models/provider_aws_cognito.py
  python/feldera-api-client/feldera_api_client/models/provider_google_identity.py
  web-console/next.config.js
  web-console/package.json
  web-console/public/icons/vendors/aws-cognito-icon.png
  web-console/src/@core/layouts/components/shared-components/UserDropdown.tsx
  web-console/src/@core/layouts/components/vertical/navigation/index.tsx
  web-console/src/app/(root)/(authenticated)/(app)/analytics/editor/page.tsx
  web-console/src/app/(root)/(authenticated)/(app)/analytics/programs/page.tsx
  web-console/src/app/(root)/(authenticated)/(app)/connectors/create/page.tsx
  web-console/src/app/(root)/(authenticated)/(app)/connectors/list/page.tsx
  web-console/src/app/(root)/(authenticated)/(app)/home/page.tsx
  web-console/src/app/(root)/(authenticated)/(app)/layout.tsx
  web-console/src/app/(root)/(authenticated)/(app)/page.tsx
  web-console/src/app/(root)/(authenticated)/(app)/streaming/builder/page.tsx
  web-console/src/app/(root)/(authenticated)/(app)/streaming/inspection/page.tsx
  web-console/src/app/(root)/(authenticated)/(app)/streaming/management/page.tsx
  web-console/src/app/(root)/(authenticated)/layout.tsx
  web-console/src/app/(root)/(blank)/auth/aws/page.tsx
  web-console/src/app/(root)/(blank)/login/page.tsx
  web-console/src/app/(root)/layout.tsx
  web-console/src/lib/components/layouts/AuthProvider.tsx
  web-console/src/lib/components/layouts/StandardVerticalLayout.tsx
  web-console/src/lib/components/layouts/vertical/AppBarContent.tsx
  web-console/src/lib/compositions/auth/useAuth.ts
  web-console/src/lib/functions/common/react.ts
  web-console/src/lib/functions/common/tuple.ts
  web-console/src/lib/services/manager/core/OpenAPI.ts
  web-console/src/lib/services/manager/core/request.ts
  web-console/src/lib/services/manager/index.ts
  web-console/src/lib/services/manager/models/AuthProvider.ts
  web-console/src/lib/services/manager/models/ColumnType.ts
  web-console/src/lib/services/manager/models/JsonFlavor.ts
  web-console/src/lib/services/manager/models/JsonParserConfig.ts
  web-console/src/lib/services/manager/models/PipelineStatus.ts
  web-console/src/lib/services/manager/models/ProviderAwsCognito.ts
  web-console/src/lib/services/manager/models/ProviderGoogleIdentity.ts
  web-console/src/lib/services/manager/models/TransportConfig.ts
  web-console/src/lib/services/manager/models/UrlInputConfig.ts
  web-console/src/lib/services/manager/services/ManagerService.ts
  web-console/src/lib/services/manager/services/PipelinesService.ts
  web-console/src/lib/services/manager/services/ProgramsService.ts
  web-console/src/lib/services/pipelineManagerQuery.ts
  web-console/yarn.lock
Labels: javascript, User-facing

#880 Hotfix: WebConsole not loading when auth is not configured
  web-console/src/lib/components/layouts/AuthProvider.tsx
Labels: bug, Web Console, javascript, User-facing

#881 WebConsole: Add Snowflake-Kafka output connector
  CHANGELOG.md
  web-console/public/icons/vendors/snowflake-icon.svg
  web-console/public/icons/vendors/snowflake-logo.svg
  web-console/src/app/(root)/(authenticated)/(app)/connectors/create/page.tsx
  web-console/src/lib/components/connectors/dialogs/AnyConnector.tsx
  web-console/src/lib/components/connectors/dialogs/SnowflakeOutputConnector.tsx
  web-console/src/lib/components/connectors/dialogs/tabs/snowflake/SnowflakeOutputFormatDetails.tsx
  web-console/src/lib/components/connectors/drawer/AddSourceDrawer.tsx
  web-console/src/lib/functions/connectors.ts
  web-console/src/lib/types/connectors.ts
Labels: enhancement, Web Console, javascript, User-facing

#878 Persist data grid column configuration on page refresh
  CHANGELOG.md
  web-console/package.json
  web-console/src/lib/components/analytics/TableSqlPrograms.tsx
  web-console/src/lib/components/common/table/DataGridProDeclarative.tsx
  web-console/src/lib/components/common/table/EntityTable.tsx
  web-console/src/lib/components/common/table/ResetColumnViewButton.tsx
  web-console/src/lib/components/connectors/DataSourceTable.tsx
  web-console/src/lib/components/layouts/AuthProvider.tsx
  web-console/src/lib/components/streaming/import/ImportToolbar.tsx
  web-console/src/lib/components/streaming/import/InsertionTable.tsx
  web-console/src/lib/components/streaming/inspection/InspectionTable.tsx
  web-console/src/lib/components/streaming/inspection/InspectionToolbar.tsx
  web-console/src/lib/components/streaming/management/PipelineTable.tsx
  web-console/src/lib/compositions/persistence/dataGrid.ts
  web-console/src/lib/functions/common/array.ts
  web-console/src/lib/functions/common/object.ts
  web-console/yarn.lock
Labels: enhancement, Web Console, javascript, User-facing

#887 Refactor @iconify/react to unplugin-icons for bundling icons with static site
  web-console/next.config.js
  web-console/package.json
  web-console/public/icons/generic/boiling-flask.svg
  web-console/public/images/generic/http-get.svg
  web-console/public/images/vendors/debezium-logo-color.svg
  web-console/public/images/vendors/kafka-logo-black.svg
  web-console/public/images/vendors/snowflake-logo.svg
  web-console/src/@core/layouts/components/vertical/navigation/VerticalNavLink.tsx
  web-console/src/@core/layouts/types.ts
  web-console/src/app/(root)/(blank)/login/page.tsx
  web-console/src/lib/components/common/AnyIcon.tsx
  web-console/src/lib/components/common/BreadcrumbsHeader.tsx
  web-console/src/lib/components/common/TextIcon.tsx
  web-console/src/lib/components/common/table/DataGridPro.tsx
  web-console/src/lib/components/common/table/EntityTable.tsx
  web-console/src/lib/components/common/table/QuickSearch.tsx
  web-console/src/lib/components/common/table/ResetColumnViewButton.tsx
  web-console/src/lib/components/connectors/dialogs/AddConnectorCard.tsx
  web-console/src/lib/components/connectors/dialogs/DebeziumInputConnector.tsx
  web-console/src/lib/components/connectors/dialogs/GenericEditorConnector.tsx
  web-console/src/lib/components/connectors/dialogs/KafkaInputConnector.tsx
  web-console/src/lib/components/connectors/dialogs/KafkaOutputConnector.tsx
  web-console/src/lib/components/connectors/dialogs/SnowflakeOutputConnector.tsx
  web-console/src/lib/components/connectors/dialogs/UrlConnector.tsx
  web-console/src/lib/components/connectors/dialogs/tabs/TabFooter.tsx
  web-console/src/lib/components/connectors/drawer/AddSourceDrawer.tsx
  web-console/src/lib/components/home/Health.tsx
  web-console/src/lib/components/home/Pipelines.tsx
  web-console/src/lib/components/home/WelcomeCard.tsx
  web-console/src/lib/components/home/pipelines/PipelineThumb.tsx
  web-console/src/lib/components/layouts/vertical/AppBarContent.tsx
  web-console/src/lib/components/streaming/builder/NodeTypes/IOPlaceholderNode.tsx
  web-console/src/lib/components/streaming/builder/NodeTypes/InputNode.tsx
  web-console/src/lib/components/streaming/builder/NodeTypes/OutputNode.tsx
  web-console/src/lib/components/streaming/builder/NodeTypes/SqlNode.tsx
  web-console/src/lib/components/streaming/builder/NodeTypes/SqlPlaceholderNode.tsx
  web-console/src/lib/components/streaming/builder/PipelineBuilder.tsx
  web-console/src/lib/components/streaming/import/ImportToolbar.tsx
  web-console/src/lib/components/streaming/import/RngSettingsDialog.tsx
  web-console/src/lib/components/streaming/management/PipelineTable.tsx
  web-console/src/lib/components/streaming/management/RevisionStatus.tsx
  web-console/src/lib/functions/connectors.ts
  web-console/src/lib/functions/navigation/vertical.ts
  web-console/src/lib/types/images.d.ts
  web-console/tsconfig.json
  web-console/yarn.lock
Labels: Web Console, javascript

#894 Use `outputsAreSets` flag.
  .gitignore
  CHANGELOG.md
  crates/pipeline_manager/src/compiler.rs
  crates/pipeline_manager/src/integration_test.rs
Labels: SQL compiler, Pipeline Manager

#912 Add newline in the end of an NDJSON block.
  .gitignore
  crates/adapters/src/format/json/output.rs
  crates/adapters/tests/jit_integration_test.rs
Labels: adapters

#915 Don't export the output of Z1Trace.
  crates/dbsp/src/circuit/circuit_builder.rs
  crates/dbsp/src/operator/trace.rs
  crates/dbsp/src/operator/upsert.rs
Labels: DBSP core, storage

#919 Fix `supply_chain_test`.
  crates/adapters/tests/jit_integration_test.rs
Labels: adapters

#922 Added regression test for #902
  crates/dataflow-jit/src/tests/issue_902.json
  crates/dataflow-jit/src/tests/issue_902.rs
  crates/dataflow-jit/src/tests/mod.rs
Labels: JIT

#920 Utility Functions
  crates/dataflow-jit/proptest-regressions/codegen/tests.txt
  crates/dataflow-jit/src/codegen/call.rs
  crates/dataflow-jit/src/codegen/intrinsics/mod.rs
  crates/dataflow-jit/src/codegen/intrinsics/time.rs
  crates/dataflow-jit/src/codegen/math.rs
  crates/dataflow-jit/src/codegen/mod.rs
  crates/dataflow-jit/src/codegen/tests.rs
  crates/dataflow-jit/src/codegen/vtable/cmp.rs
  crates/dataflow-jit/src/codegen/vtable/mod.rs
  crates/dataflow-jit/src/facade/mod.rs
  crates/dataflow-jit/src/ir/function/builder.rs
  crates/dataflow-jit/src/ir/row_layout.rs
  crates/dataflow-jit/src/ir/types.rs
  crates/dataflow-jit/src/main.rs
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/backend/jit/JitCsvInputDescription.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/jit/JitPostgresNumericTests.java
Labels: JIT

#953 Fail on timeout in tests.
  crates/adapters/src/controller/mod.rs
  crates/adapters/src/test/kafka.rs
  crates/adapters/src/transport/file.rs
  crates/adapters/src/transport/url.rs
Labels: adapters

#952 Top-K operator with custom comparison function.
  crates/dbsp/src/operator/group/custom_ord.rs
  crates/dbsp/src/operator/group/mod.rs
  crates/dbsp/src/operator/group/test.rs
  crates/dbsp/src/operator/group/topk.rs
  crates/dbsp/src/operator/mod.rs
Labels: DBSP core

#949 Connector secrets
  CHANGELOG.md
  Cargo.lock
  crates/adapters/Cargo.toml
  crates/adapters/src/transport/kafka/input.rs
  crates/adapters/src/transport/kafka/output.rs
  crates/adapters/src/transport/mod.rs
  crates/adapters/src/transport/secret_resolver.rs
  crates/pipeline-types/src/lib.rs
  crates/pipeline-types/src/secret_ref.rs
Labels: adapters, User-facing

#948 Fix switching between views and tables in breadcrumbs
  web-console/package.json
  web-console/src/app/(root)/(authenticated)/(app)/streaming/inspection/page.tsx
  web-console/src/lib/components/common/table/EntityTable.tsx
  web-console/src/lib/components/home/Health.tsx
  web-console/src/lib/components/home/pipelines/PipelineThumb.tsx
  web-console/src/lib/components/streaming/management/PipelineTable.tsx
  web-console/yarn.lock
Labels: bug, Web Console, javascript
