Repository feldera/feldera, pull requests merged in 2024-11, with the labels that each got.

#2914 [ci] python-publish: fix path to uv.lock
  .github/workflows/python-publish.yml
Labels: CI/CD, python-sdk

#2982 dbsp: Use xxh3 default hasher instead of custom.
  crates/dbsp/src/hash.rs
Labels: DBSP core, performance

#2995 [dbsp] Strongly typed controlled filters.
  crates/dbsp/src/operator/controlled_filter.rs
  crates/dbsp/src/operator/dynamic/controlled_filter.rs
  crates/dbsp/src/typed_batch.rs
Labels: DBSP core

#3047 dbsp: Fix tuple builder for FileValBatch.
  crates/dbsp/src/trace/ord/file/val_batch.rs
Labels: bug, DBSP core, storage

#3044 [SQL] implement blackbox function
  crates/sqllib/src/operators.rs
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/frontend/ExpressionCompiler.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/frontend/calciteCompiler/CustomFunctions.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/frontend/calciteCompiler/PredefinedFunctions.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/functions/FunctionsTest.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/simple/MapTests.java
Labels: SQL compiler
