Repository feldera/feldera, pull requests merged in 2024-12, with the labels that each got.

#3069 [tests] re-enable SQL aggregate tests for decimals
  python/tests/aggregate_tests/main.py
  python/uv.lock
Labels: QA

#3061 dbsp_adapters: Add support for multiline JSON.
  crates/adapters/src/controller/mod.rs
  crates/adapters/src/format/json/input.rs
  crates/adapters/src/test/mod.rs
  crates/feldera-types/src/format/json.rs
  crates/pipeline-manager/src/api/mod.rs
  docs/formats/json.md
  openapi.json
  web-console/src/lib/services/manager/schemas.gen.ts
  web-console/src/lib/services/manager/types.gen.ts
Labels: adapters

#3092 pipeline-manager: clearer error message when handle is no longer owned
  crates/pipeline-manager/src/runner/local_runner.rs
Labels: Pipeline manager

#3096 pipeline-manager: connector orchestration
  Cargo.lock
  crates/adapters/src/server/mod.rs
  crates/fda/src/cli.rs
  crates/fda/src/main.rs
  crates/feldera-types/src/program_schema.rs
  crates/pipeline-manager/Cargo.toml
  crates/pipeline-manager/src/api/api_key.rs
  crates/pipeline-manager/src/api/error.rs
  crates/pipeline-manager/src/api/http_io.rs
  crates/pipeline-manager/src/api/mod.rs
  crates/pipeline-manager/src/api/pipeline.rs
  crates/pipeline-manager/src/api/util.rs
  crates/pipeline-manager/src/db/types/program.rs
  crates/pipeline-manager/src/integration_test.rs
  crates/pipeline-manager/src/runner/main.rs
  demo/project_demo06-SupplyChainTutorial/run.py
  openapi.json
Labels: Pipeline manager
