Repository feldera/feldera, pull requests merged in 2024-07, with the labels that each got.

#1917 dbsp: Change threshold for spilling to storage from rows to bytes.
  benchmark/feldera-sql/run.py
  crates/adapters/src/controller/mod.rs
  crates/dbsp/src/circuit/dbsp_handle.rs
  crates/dbsp/src/circuit/runtime.rs
  crates/dbsp/src/storage/file/reader.rs
  crates/dbsp/src/trace/mod.rs
  crates/dbsp/src/trace/ord/fallback/indexed_wset.rs
  crates/dbsp/src/trace/ord/fallback/key_batch.rs
  crates/dbsp/src/trace/ord/fallback/utils.rs
  crates/dbsp/src/trace/ord/fallback/val_batch.rs
  crates/dbsp/src/trace/ord/fallback/wset.rs
  crates/dbsp/src/trace/ord/file/indexed_wset_batch.rs
  crates/dbsp/src/trace/ord/file/key_batch.rs
  crates/dbsp/src/trace/ord/file/val_batch.rs
  crates/dbsp/src/trace/ord/file/wset_batch.rs
  crates/dbsp/src/trace/ord/vec/indexed_wset_batch.rs
  crates/dbsp/src/trace/ord/vec/key_batch.rs
  crates/dbsp/src/trace/ord/vec/val_batch.rs
  crates/dbsp/src/trace/ord/vec/wset_batch.rs
  crates/dbsp/src/trace/spine_async/mod.rs
  crates/dbsp/src/trace/spine_fueled.rs
  crates/dbsp/src/trace/test/test_batch.rs
  crates/nexmark/benches/nexmark/main.rs
  crates/nexmark/src/config.rs
  crates/pipeline-types/src/config.rs
  crates/pipeline_manager/src/db/test.rs
  openapi.json
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/streaming/StreamingTests.java
  web-console/src/lib/services/manager/models/PipelineConfig.ts
  web-console/src/lib/services/manager/models/RuntimeConfig.ts
Labels: DBSP core, API, storage, rust

#1988 Make profiles downloadable via API
  crates/adapters/src/circuit_handle.rs
  crates/adapters/src/controller/error.rs
  crates/adapters/src/controller/mod.rs
  crates/adapters/src/server/mod.rs
  crates/dbsp/Cargo.toml
  crates/dbsp/src/circuit/dbsp_handle.rs
  crates/dbsp/src/monitor/visual_graph.rs
  crates/dbsp/src/profile/mod.rs
  crates/pipeline_manager/src/api/pipeline.rs
  openapi.json
  web-console/src/lib/services/manager/services/PipelinesService.ts
Labels: enhancement, API, Pipeline Manager, adapters, rust

#1997 benchmark: Make poller threads configurable for SQL benchmarks.
  benchmark/feldera-sql/run.py
  benchmark/run-nexmark.sh
  scripts/bench.bash
Labels: enhancement, performance, adapters, CI/CD

#2024 Disable sveltekit build
  crates/pipeline_manager/build.rs
  crates/pipeline_manager/src/api/mod.rs
Labels: bug

#2057 dbsp_adapters: Wait a bit before disconnecting on pause in `url` adapter.
  crates/adapters/src/transport/url.rs
  crates/pipeline-types/src/transport/url.rs
  openapi.json
  web-console/src/lib/services/manager/models/UrlInputConfig.ts
Labels: enhancement, adapters, rust

#2061 nexmark: Use same `metrics` version as the rest of the crates.
  Cargo.lock
  crates/nexmark/Cargo.toml
Labels: dependencies, rust

#2127 dbsp: Don't reserve excess capacity for vector merge results.
  crates/dbsp/src/dynamic/vec.rs
  crates/dbsp/src/trace/layers/layer.rs
  crates/dbsp/src/trace/layers/leaf.rs
Labels: bug, DBSP core, performance, rust
