Repository feldera/feldera, pull requests merged in 2024-01, with the labels that each got.

#1196 [SQL] Handle modulo operations with negative values
  docs/sql/integer.md
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/visitors/inner/Simplify.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/SqlIoTest.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/functions/FunctionsTest.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/postgres/PostgresInt2Tests.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/postgres/PostgresInt4Tests.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/postgres/PostgresInt8Tests.java
  sql-to-dbsp-compiler/lib/sqllib/src/operators.rs
Labels: bug, SQL compiler

#1216 [SQL] Add tests for TINYINT
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/TinyintTests.java
Labels: SQL compiler

#1215 Return detailed worker panic info from DBSP API methods.
  crates/dbsp/src/circuit/dbsp_handle.rs
  crates/dbsp/src/circuit/runtime.rs
Labels: DBSP core

#1258 dbsp_adapters: Reduce number of HTTP workers in `test_pause` test to 1.
  crates/adapters/src/transport/url.rs
Labels: adapters, CI/CD

#1247 [SQL] run time error for arithmetic overflow
  CHANGELOG.md
  docs/sql/integer.md
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/TinyintTests.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/postgres/PostgresInt2Tests.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/postgres/PostgresInt4Tests.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/postgres/PostgresInt8Tests.java
  sql-to-dbsp-compiler/lib/sqllib/src/lib.rs
  sql-to-dbsp-compiler/lib/sqllib/src/operators.rs
Labels: documentation, SQL compiler

#1266 Adding a markdown page for videos
  CHANGELOG.md
  docs/sidebars.js
  docs/videos.md
Labels: documentation, User-facing

#1264 [SQL] Add functions for binary strings
  CHANGELOG.md
  docs/sql/binary.md
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/frontend/ExpressionCompiler.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/mysql/VarbinaryTests.java
  sql-to-dbsp-compiler/lib/sqllib/src/binary.rs
Labels: documentation, SQL compiler

#1291 Minor improvements to simplify debugging
  crates/adapters/src/catalog.rs
  crates/adapters/src/lib.rs
  crates/adapters/src/static_compile/catalog.rs
  crates/dbsp/src/operator/input.rs
  crates/dbsp/src/operator/output.rs
  crates/dbsp/src/tutorial.rs
  sql-to-dbsp-compiler/lib/sqllib/src/lib.rs
Labels: adapters

#1296 Support patch semantics for upserts.
  CHANGELOG.md
  crates/adapters/src/catalog.rs
  crates/adapters/src/format/json/input.rs
  crates/adapters/src/format/json/mod.rs
  crates/adapters/src/format/json/output.rs
  crates/adapters/src/static_compile/catalog.rs
  crates/adapters/src/static_compile/deinput.rs
  crates/adapters/src/static_compile/deserialize_with_context.rs
  crates/adapters/src/test/kafka.rs
  crates/adapters/src/test/mock_dezset.rs
  crates/adapters/src/test/mod.rs
  crates/adapters/src/transport/file.rs
  crates/adapters/src/transport/kafka/ft/test.rs
  crates/adapters/src/transport/kafka/nonft/test.rs
  crates/adapters/src/transport/url.rs
  crates/dbsp/src/operator/input.rs
  crates/dbsp/src/operator/input_upsert.rs
  crates/dbsp/src/operator/mod.rs
  crates/dbsp/src/operator/sample.rs
  crates/pipeline_manager/src/integration_test.rs
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/circuit/operator/DBSPSourceMapOperator.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/backend/rust/ToRustVisitor.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/ir/type/DBSPTypeStruct.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/CatalogTests.java
Labels: DBSP core, adapters, User-facing, UX

#1299 Update the tutorial to reflect API changes.
  docs/tutorials/basics/part1.md
  docs/tutorials/basics/part2.md
  docs/tutorials/basics/pipeline-builder.png
Labels: documentation, API

#1330 Fix playwright_snapshots revision fetching in CI
  .arg
  Earthfile
Labels: CI/CD

#1336 feldera-storage: Fix errors from `cargo doc`.
  crates/feldera-storage/src/backend/mod.rs
  crates/feldera-storage/src/bin/bench.rs
  crates/feldera-storage/src/buffer_cache/mod.rs
  crates/feldera-storage/src/file/mod.rs
  crates/feldera-storage/src/lib.rs
Labels: storage

#1300 [SQL] Check decimal precision while casting
  CHANGELOG.md
  docs/sql/decimal.md
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/backend/rust/ToRustInnerVisitor.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/TinyintTests.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/functions/FunctionsTest.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/postgres/PostgresInt2Tests.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/postgres/PostgresInt4Tests.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/postgres/PostgresInt8Tests.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/postgres/PostgresNumericTests.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/simple/CastTests.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/simple/EndToEndTests.java
  sql-to-dbsp-compiler/lib/sqllib/src/casts.rs
  sql-to-dbsp-compiler/lib/sqllib/src/lib.rs
Labels: documentation, SQL compiler

#1365 docs: Minor improvements to tutorial text and screenshots.
  docs/tutorials/basics/get-connector.png
  docs/tutorials/basics/part1.md
  docs/tutorials/basics/part2.md
  docs/tutorials/basics/part3.md
  docs/tutorials/basics/preferred_vendor-kafka-security.png
  docs/tutorials/basics/price-kafka-security.png
Labels: bug, documentation, Web Console
