Repository feldera/feldera, pull requests merged in 2024-09, with the labels that each got.

#2443 py: fix build error introduced in `60390d3`
  Earthfile
  python/tests/test_pipeline_builder.py
Labels: bug

#2477 dbsp_adapters: Fix adhoc insertion.
  crates/adapters/src/adhoc/table.rs
  crates/adapters/src/controller/mod.rs
Labels: bug, adapters, rust

#2499 Fix code editor not becoming readonly when starting pipeline
  web-console/src/lib/components/layout/pipelines/PipelineEditLayout.svelte
  web-console/src/lib/components/pipelines/editor/TabPipelineErrors.svelte
  web-console/src/lib/compositions/health/systemErrors.ts
  web-console/src/lib/compositions/useWritablePipeline.svelte.ts
  web-console/src/lib/services/pipelineManager.ts
  web-console/src/routes/(authenticated)/(pipelines)/create/+page.ts
  web-console/src/routes/(authenticated)/(pipelines)/pipelines/[pipelineName]/+page.svelte
  web-console/src/routes/(authenticated)/(pipelines)/pipelines/[pipelineName]/+page.ts
Labels: bug, Web Console, javascript, User-facing

#2505 dbsp: Fix performance with small input batches.
  crates/dbsp/src/operator/dynamic/input.rs
Labels: bug, performance, adapters, rust

#2522 dbsp_adapters: Fix hang because a queue with 0 records could be nonem…
  crates/adapters/src/static_compile/deinput.rs
  crates/adapters/src/transport/mod.rs
Labels: bug, adapters, rust

#2536 py: clear the view_tx queues when shutting down a pipeline
  crates/pipeline-manager/dark-banner.ascii
  crates/pipeline-manager/src/db/test.rs
  python/feldera/pipeline.py
  python/tests/sql_aggregates/base.py
  python/tests/sql_aggregates/test_avg.py
  sql-to-dbsp-compiler/SQL-compiler/pom.xml-E
Labels: bug

#2553 dbsp: Summarize operator metadata into root in circuit profiles.
  crates/dbsp/src/circuit/metadata.rs
  crates/dbsp/src/operator/dynamic/distinct.rs
  crates/dbsp/src/operator/dynamic/join.rs
  crates/dbsp/src/operator/dynamic/trace.rs
  crates/dbsp/src/operator/z1.rs
  crates/dbsp/src/profile/mod.rs
  crates/dbsp/src/trace/spine_async/mod.rs
Labels: enhancement, DBSP core, performance, rust

#2562 [sql] Prepare to publish sqllib on `crates.io`.
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  Earthfile
  crates/adapters/Cargo.toml
  crates/adapters/src/format/avro/serializer.rs
  crates/adapters/src/test/data.rs
  crates/adapters/src/transport/datagen.rs
  crates/sqllib/Cargo.toml
  crates/sqllib/README.md
  crates/sqllib/src/aggregates.rs
  crates/sqllib/src/array.rs
  crates/sqllib/src/binary.rs
  crates/sqllib/src/casts.rs
  crates/sqllib/src/geopoint.rs
  crates/sqllib/src/interval.rs
  crates/sqllib/src/lib.rs
  crates/sqllib/src/operators.rs
  crates/sqllib/src/source.rs
  crates/sqllib/src/string.rs
  crates/sqllib/src/timestamp.rs
  crates/sqllib/src/variant.rs
  docs/sql/udf.md
  scripts/bump-versions.sh
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/backend/rust/RustFileWriter.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/MetadataTests.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/OtherTests.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/streaming/StreamingTests.java
  sql-to-dbsp-compiler/lib/hashing/Cargo.toml
  sql-to-dbsp-compiler/lib/hashing/src/lib.rs
  sql-to-dbsp-compiler/lib/readers/Cargo.toml
  sql-to-dbsp-compiler/lib/readers/src/lib.rs
  sql-to-dbsp-compiler/lib/sltsqlvalue/Cargo.toml
  sql-to-dbsp-compiler/lib/sltsqlvalue/src/lib.rs
  sql-to-dbsp-compiler/temp/Cargo.toml
Labels: SQL compiler

#2559 fda: New command `heap-profile`.
  Cargo.lock
  crates/fda/Cargo.toml
  crates/fda/src/cli.rs
  crates/fda/src/main.rs
Labels: enhancement, rust, CLI

#2575 [WebConsole] Preload Pipeline Edit page code while on welcome screen
  web-console/src/routes/(authenticated)/+page.svelte
Labels: enhancement, Web Console, javascript, User-facing

#2611 README: Update architecture image with new Feldera logo.
  architecture.svg
Labels: documentation
