Repository feldera/feldera, pull requests merged in 2024-02, with the labels that each got.

#1381 Test that profiles memory use for programs with lateness
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/backend/rust/ToRustVisitor.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/streaming/StreamingTests.java
Labels: SQL compiler

#1376 [SQL] decimal rounding and truncation tests
  docs/sql/decimal.md
  docs/sql/float.md
  docs/sql/integer.md
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/frontend/ExpressionCompiler.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/visitors/inner/Simplify.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/functions/FunctionsTest.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/postgres/PostgresFloat8Tests.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/postgres/PostgresNumericTests.java
  sql-to-dbsp-compiler/lib/sqllib/src/casts.rs
  sql-to-dbsp-compiler/lib/sqllib/src/lib.rs
  sql-to-dbsp-compiler/lib/sqllib/src/operators.rs
Labels: SQL compiler

#1393 dbsp: Fix `galen` benchmark.
  crates/dbsp/src/circuit/circuit_builder.rs
  crates/dbsp/src/operator/apply.rs
Labels: bug, DBSP core

#1408 Add Swagger link to navbar, make navbar more compact
  .arg
  CHANGELOG.md
  web-console/src/@core/layouts/components/vertical/navigation/VerticalNavLink.tsx
  web-console/src/@core/layouts/components/vertical/navigation/index.tsx
  web-console/src/lib/functions/navigation/vertical.ts
Labels: enhancement, Web Console, javascript, User-facing

#1406 [SQL] Add function exp(double) -> double
  docs/sql/float.md
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/frontend/ExpressionCompiler.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/functions/FunctionsTest.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/postgres/PostgresFloat8Part2Tests.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/postgres/PostgresFloat8Tests.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/postgres/PostgresNumericTests.java
  sql-to-dbsp-compiler/lib/sqllib/src/lib.rs
Labels: enhancement, SQL compiler

#1357 [SQL] Handle correctly table names with spaces
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/circuit/DBSPCircuit.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/circuit/DBSPPartialCircuit.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/circuit/operator/DBSPAggregateOperatorBase.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/circuit/operator/DBSPNoopOperator.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/circuit/operator/DBSPOperator.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/circuit/operator/DBSPSinkOperator.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/circuit/operator/DBSPSourceBaseOperator.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/circuit/operator/DBSPSourceMapOperator.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/circuit/operator/DBSPSourceMultisetOperator.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/circuit/operator/DBSPUnaryOperator.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/backend/ToDotVisitor.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/backend/rust/ToRustVisitor.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/frontend/AggregateCompiler.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/frontend/CalciteToDBSPCompiler.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/visitors/inner/CollectIdentifiers.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/visitors/outer/CircuitRewriter.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/visitors/outer/FindDeadCode.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/visitors/outer/IncrementalizeVisitor.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/visitors/outer/IndexedInputs.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/ir/expression/literal/DBSPZSetLiteral.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/CatalogTests.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/ComplexQueriesTest.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/OtherTests.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/SqlIoTest.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/streaming/StreamingTests.java
  sql-to-dbsp-compiler/lib/sqllib/src/lib.rs
  sql-to-dbsp-compiler/slt/src/main/java/org/dbsp/sqllogictest/Main.java
  sql-to-dbsp-compiler/slt/src/main/java/org/dbsp/sqllogictest/executors/DBSPExecutor.java
Labels: SQL compiler

#1374 [SQL] Case-insensitive function name lookup
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/CompilerOptions.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/frontend/calciteCompiler/CalciteCompiler.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/frontend/calciteCompiler/CustomFunctions.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/OtherTests.java
Labels: SQL compiler

#1411 Show the entire generated API key
  CHANGELOG.md
  web-console/src/lib/components/settings/Authentication.tsx
  web-console/src/lib/components/settings/CreateApiKeyDialog.tsx
Labels: Web Console, javascript, User-facing

#1412 Automatically redirect to AWS Cognito Hosted UI from login page
  CHANGELOG.md
  web-console/src/app/(root)/(blank)/login/page.tsx
Labels: Web Console, javascript, User-facing

#1418 Fix computing metrics from periodically polled value with arbitrary polling period
  .arg
  CHANGELOG.md
  demo/steady/demo.py
  demo/steady/program.sql
  web-console/package.json
  web-console/src/app/(root)/(authenticated)/(app)/home/page.tsx
  web-console/src/lib/components/demo/DemoSetupDialog.tsx
  web-console/src/lib/components/home/Pipelines.tsx
  web-console/src/lib/components/home/WelcomeCard.tsx
  web-console/src/lib/components/home/pipelines/PipelineThumb.tsx
  web-console/src/lib/components/streaming/management/AnalyticsPipelineTput.tsx
  web-console/src/lib/components/streaming/management/PipelineMemoryGraph.tsx
  web-console/src/lib/components/streaming/management/PipelineTable.tsx
  web-console/src/lib/compositions/streaming/management/usePipelineMetrics.ts
  web-console/src/lib/functions/demo/runDemo.ts
  web-console/src/lib/services/pipelineManagerQuery.ts
  web-console/src/lib/types/pipeline.ts
  web-console/tests/e2e/demoAccrual.spec.ts
  web-console/tests/e2e/felderaBasicsTutorial.spec.ts
Labels: bug, Web Console, javascript, User-facing

#1439 Improve handling of case independent names in Pipeline Builder
  web-console/src/lib/components/streaming/builder/NodeTypes/SqlNode.tsx
  web-console/src/lib/components/streaming/management/PipelineTable.tsx
  web-console/src/lib/compositions/streaming/builder/useAddIoNode.ts
  web-console/src/lib/compositions/streaming/builder/useAutoLayout.ts
  web-console/src/lib/functions/felderaRelation.ts
Labels: bug, Web Console, javascript

#1451 Earthfile: Properly save playwright artifacts.
  Earthfile
Labels: bug, Web Console, CI/CD

#1464 dbsp: Avoid leaking threads in `test_panic_no_deadlock`.
  crates/dbsp/src/circuit/dbsp_handle.rs
Labels: DBSP core, rust, low priority
