Repository feldera/feldera, pull requests merged in 2024-06, with the labels that each got.

#1823 py: Enforce optimized build.
  python/feldera/rest/client.py
Labels: python-sdk

#1824 docs: Fixup broken links to docker.md
  docs/cloud/index.md
  docs/contributors/dev-flow.md
  docs/demo/demo.md
  docs/faq.md
  docs/tour/tour.md
  docs/tutorials/basics/part1.md
Labels: documentation

#1826 py: raise error if dataframe has no column names
  python/feldera/_helpers.py
  python/feldera/sql_context.py
  python/tests/test_wireframes.py
Labels: python-sdk

#1807 py: kafka connector
  CHANGELOG.md
  python/.gitignore
  python/docs/examples.rst
  python/docs/introduction.rst
  python/feldera/__init__.py
  python/feldera/_helpers.py
  python/feldera/formats.py
  python/feldera/rest/__init__.py
  python/feldera/rest/config.py
  python/feldera/rest/feldera_client.py
  python/feldera/rest/pipeline.py
  python/feldera/sql_context.py
  python/tests/__init__.py
  python/tests/test_wireframes.py
Labels: documentation, User-facing, python-sdk

#1834 py: run spwaned listeners as daemons
  python/feldera/_callback_runner.py
  python/tests/test_wireframes.py
Labels: bug, python-sdk

#1815 Disable default MUI behavior for editing the cell
  web-console/src/lib/components/streaming/import/InsertionTable.tsx
Labels: bug, Web Console, javascript

#1841 py: function to wait for pipeline to become idle
  CHANGELOG.md
  python/feldera/sql_context.py
  python/tests/test_wireframes.py
Labels: python-sdk

#1835 py: add `PipelineResourceConfig` to configure pipeline resources
  CHANGELOG.md
  python/feldera/enums.py
  python/feldera/resources.py
  python/feldera/rest/feldera_client.py
  python/feldera/sql_context.py
  python/tests/test_program.py
  python/tests/test_wireframes.py
Labels: python-sdk

#1846 py: properly serialize DataFrames with Timestamp columns
  crates/pipeline-types/src/format/json.rs
  crates/pipeline-types/src/serde_with_context/serde_config.rs
  openapi.json
  python/README.md
  python/feldera/_helpers.py
  python/feldera/output_handler.py
  python/feldera/rest/_httprequests.py
  python/feldera/rest/feldera_client.py
  python/feldera/sql_context.py
  python/tests/test_pipeline.py
  python/tests/test_wireframes.py
Labels: bug, python-sdk

#1855 [SQL] Hopping and tumbling windows using table functions
  CHANGELOG.md
  docs/sql/grammar.md
  docs/sql/table.md
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/circuit/operator/DBSPFlatMapOperator.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/frontend/CalciteToDBSPCompiler.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/frontend/ExpressionCompiler.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/frontend/TypeCompiler.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/visitors/outer/CircuitRewriter.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/quidem/StreamTests.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/streaming/StreamingTests.java
  sql-to-dbsp-compiler/lib/sqllib/src/timestamp.rs
Labels: SQL compiler

#1881 join_flatmap
  crates/dbsp/src/operator/dynamic/join.rs
  crates/dbsp/src/operator/join.rs
Labels: DBSP core

#1876 benchmark: Handle case where Kafka requires different access `host:po…
  benchmark/feldera-sql/README.md
  benchmark/run-nexmark.sh
Labels: bug, performance

#1892 Avro: Serialize non-nullable fields as nullable.
  CHANGELOG.md
  crates/adapters/src/format/avro/serializer.rs
Labels: adapters

#1027 Add a dialog to configure pipeline's runtime resources
  CHANGELOG.md
  web-console/src/app/(spa)/(root)/(authenticated)/(app)/streaming/builder/page.tsx
  web-console/src/lib/components/connectors/dialogs/elements/deltalake/IngestModeElement.tsx
  web-console/src/lib/components/input/IntermediateInput.ts
  web-console/src/lib/components/input/NumberInput.tsx
  web-console/src/lib/components/layouts/analytics/editor.tsx
  web-console/src/lib/components/streaming/inspection/InspectionTable.tsx
  web-console/src/lib/components/streaming/management/PipelineResourcesDialog.tsx
  web-console/src/lib/components/streaming/management/PipelineResourcesThumb.tsx
  web-console/src/lib/components/streaming/management/PipelineTable.tsx
  web-console/src/lib/functions/common/function.ts
  web-console/src/lib/functions/common/react-hook-form-mui.tsx
  web-console/src/lib/functions/directives/useLogarithmicSlider.ts
  web-console/src/lib/services/HttpInputOutputService.ts
  web-console/src/lib/services/manager/core/OpenAPI.ts
  web-console/src/lib/services/manager/core/request.ts
  web-console/src/lib/services/manager/index.ts
  web-console/src/lib/services/manager/models/DeltaTableWriteMode.ts
  web-console/src/lib/services/manager/models/JsonFlavor.ts
  web-console/src/lib/services/manager/models/ResourceConfig.ts
  web-console/src/lib/services/manager/services/HttpInputOutputService.ts
Labels: Web Console, javascript, User-facing

#1856 Add health popup containing all system errors to the header
  CHANGELOG.md
  web-console/bun.lockb
  web-console/package.json
  web-console/src/app/(spa)/(root)/(authenticated)/(app)/home/page.tsx
  web-console/src/lib/components/header/HealthPopup.spec.tsx
  web-console/src/lib/components/header/HealthPopup.tsx
  web-console/src/lib/components/home/Health.tsx
  web-console/src/lib/components/home/WelcomeCard.tsx
  web-console/src/lib/components/home/health/ReportErrorButton.tsx
  web-console/src/lib/components/layouts/vertical/AppBarContent.tsx
  web-console/src/lib/compositions/health/useSystemErrors.ts
  web-console/src/lib/compositions/streaming/management/usePipelineMetrics.ts
  web-console/src/lib/functions/common/tanstack.ts
  web-console/src/lib/functions/pipelineMetrics.ts
  web-console/src/lib/services/feedback.ts
  web-console/src/lib/services/pipelineManagerAggregateQuery.ts
  web-console/src/lib/services/pipelineManagerQuery.ts
  web-console/src/lib/types/pipeline.ts
  web-console/yarn.lock
Labels: User-facing

#1899 py: SQLContext.register_type
  python/feldera/sql_context.py
Labels: python-sdk

#1910 py: add_lateness.
  python/feldera/_sql_view.py
  python/feldera/sql_context.py
Labels: python-sdk

#1913 dbsp: Fix hidden dependency on vec-based batches in input_upsert.
  crates/dbsp/src/operator/dynamic/input_upsert.rs
Labels: DBSP core, storage, rust

#1940 Fix UI regressions
  web-console/src/app/(spa)/(root)/(authenticated)/(app)/services/list/page.tsx
  web-console/src/app/(spa)/(root)/(authenticated)/(app)/streaming/builder/page.tsx
  web-console/src/lib/components/analytics/TableSqlPrograms.tsx
  web-console/src/lib/components/connectors/dialogs/DebeziumInputConnector.tsx
  web-console/src/lib/components/connectors/dialogs/DeltaLakeInputConnector.tsx
  web-console/src/lib/components/connectors/dialogs/DeltaLakeOutputConnector.tsx
  web-console/src/lib/components/connectors/dialogs/KafkaInputConnector.tsx
  web-console/src/lib/components/connectors/dialogs/KafkaOutputConnector.tsx
  web-console/src/lib/components/connectors/dialogs/SnowflakeOutputConnector.tsx
  web-console/src/lib/components/connectors/dialogs/UrlConnector.tsx
  web-console/src/lib/components/services/dialogs/KafkaService.tsx
  web-console/src/lib/components/streaming/builder/NoSchemaDialog.tsx
  web-console/src/lib/components/streaming/management/RevisionStatus.tsx
  web-console/src/lib/compositions/streaming/inspection/useQuantiles.ts
  web-console/src/lib/functions/connectors/outputBuffer.ts
  web-console/src/lib/services/manager/core/request.ts
  web-console/src/lib/services/pipelineManagerQuery.ts
Labels: bug, Web Console, javascript

#1942 Improve py docs
  python/.gitignore
  python/docs/feldera.rst
  python/docs/index.rst
  python/feldera/sql_context.py
Labels: documentation, python-sdk
