Repository feldera/feldera, pull requests merged in 2024-10, with the labels that each got.

#2637 [WebConsole] improve layout on mobile
  web-console/src/lib/components/layout/Drawer.svelte
  web-console/src/lib/components/layout/pipelines/PipelineEditLayout.svelte
  web-console/src/lib/components/pipelines/List.svelte
  web-console/src/lib/components/pipelines/editor/CodeEditor.svelte
  web-console/src/lib/components/pipelines/editor/InteractionsPanel.svelte
  web-console/src/lib/components/pipelines/list/DeploymentStatus.svelte
  web-console/src/lib/compositions/layout/useDrawer.svelte.ts
  web-console/src/lib/compositions/layout/useIsMobile.svelte.ts
  web-console/src/routes/(authenticated)/(pipelines)/+layout.svelte
  web-console/src/routes/(authenticated)/+layout.svelte
Labels: bug, Web Console, javascript, User-facing

#2685 [ci] py-tests: run aggregate tests in CI & python tests in nightly
  Earthfile
Labels: CI/CD

#2692 [py] fix docs link in pyproject.toml; PyPi page
  python/pyproject.toml
Labels: documentation, python-sdk

#2693 [py] add `Pipeline.execute()` method to execute queries
  python/feldera/pipeline.py
  python/tests/test_pipeline_builder.py
Labels: python-sdk

#2731 [dbsp] Fix a corner case in rolling_aggregate.
  crates/dbsp/src/operator/dynamic/time_series/rolling_aggregate.rs
Labels: DBSP core

#2568 [WebConsole] Add Ad-hoc query UI
  web-console/bun.lockb
  web-console/package-lock.json
  web-console/package.json
  web-console/src/app.css
  web-console/src/lib/components/MonacoEditor.svelte
  web-console/src/lib/components/adhoc/Query.svelte
  web-console/src/lib/components/layout/pipelines/PipelineEditLayout.svelte
  web-console/src/lib/components/observablehq/editor/Module.svelte
  web-console/src/lib/components/observablehq/editor/Modules.svelte
  web-console/src/lib/components/observablehq/notebooks/adHocQuery.js
  web-console/src/lib/components/pipelines/editor/ChangeStream.svelte
  web-console/src/lib/components/pipelines/editor/CodeEditor.svelte
  web-console/src/lib/components/pipelines/editor/InteractionsPanel.svelte
  web-console/src/lib/components/pipelines/editor/ProgramStatus.svelte
  web-console/src/lib/components/pipelines/editor/TabAdHocQuery.svelte
  web-console/src/lib/components/pipelines/editor/TabChangeStream.svelte
  web-console/src/lib/components/pipelines/editor/WarningBanner.svelte
  web-console/src/lib/components/pipelines/list/Actions.svelte
  web-console/src/lib/functions/pipelines/changeStream.ts
  web-console/src/lib/functions/sqlValue.ts
  web-console/src/lib/services/pipelineManager.ts
  web-console/src/lib/types/observablehq.d.ts
Labels: Web Console, javascript, User-facing

#2738 [WebConsole] fix inconsistent order and warning status of Rust errors
  web-console/src/lib/components/layout/pipelines/PipelineEditLayout.svelte
  web-console/src/lib/compositions/health/systemErrors.svelte.ts
  web-console/src/lib/compositions/health/systemErrors.ts
Labels: bug, Web Console, javascript, User-facing, high priority, udf

#2742 [adapters] Upgrade avro dependency to 0.17.
  Cargo.lock
  crates/adapters/Cargo.toml
  crates/adapters/src/format/avro/output.rs
  crates/adapters/src/format/avro/schema.rs
  crates/adapters/src/format/avro/serializer.rs
Labels: adapters

#2811 [dbsp] workaround: `libc::F_UNLCK` type inconsistency between platforms
  crates/dbsp/src/storage/dirlock/mod.rs
Labels: bug, DBSP core, storage

#2828 [demo] Remove the hello-world demo.
  Earthfile
  demo/hello-world/.gitignore
  demo/hello-world/README.md
  demo/hello-world/combiner.sql
  demo/hello-world/messages.csv
  demo/hello-world/records.csv
  demo/hello-world/requirements.txt
  demo/hello-world/run.py
Labels: demo

#2842 dbsp_adapters: Set url transport pause tests as ignored for now.
  crates/adapters/src/transport/url.rs
Labels: bug, adapters, CI/CD

#2868 [docs] Fix typos in `UNNEST` documentation
  docs/sql/array.md
Labels: documentation, SQL compiler

#2876 dbsp_adapters: Remove stray debug prints.
  crates/adapters/src/transport/kafka/nonft/input.rs
Labels: bug, adapters
