Repository feldera/feldera, pull requests merged in 2024-03, with the labels that each got.

#1480 [SQL] Implement array_position
  CHANGELOG.md
  docs/sql/array.md
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/frontend/ExpressionCompiler.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/simple/ArrayFunctionsTests.java
  sql-to-dbsp-compiler/lib/sqllib/src/array.rs
  sql-to-dbsp-compiler/lib/sqllib/src/lib.rs
Labels: SQL compiler

#1494 dbsp_adapters: Change `unreachable` to `warn` for partition queues.
  crates/adapters/src/transport/kafka/ft/input.rs
Labels: bug, ft, adapters

#1501 Increase Kafka initialization timeout to 60 seconds.
  crates/pipeline-types/src/transport/kafka.rs
  openapi.json
Labels: bug, ft, adapters, CI/CD, rust

#1515 [SQL] implement ARRAY_DISTINCT() function
  CHANGELOG.md
  docs/sql/array.md
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/frontend/ExpressionCompiler.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/simple/ArrayFunctionsTests.java
  sql-to-dbsp-compiler/lib/sqllib/src/array.rs
Labels: SQL compiler

#1545 Lag custom order
  crates/adapters/src/server/mod.rs
  crates/dbsp/src/operator/dynamic/group/lag.rs
  crates/dbsp/src/operator/dynamic/group/mod.rs
  crates/dbsp/src/operator/dynamic/group/test.rs
  crates/dbsp/src/operator/group/lag.rs
  crates/pipeline_manager/src/integration_test.rs
Labels: DBSP core

#1534 [DBSP] Example of using JSON with DBSP
  Cargo.lock
  crates/dbsp/Cargo.toml
  crates/dbsp/examples/json.rs
Labels: DBSP core

#1555 [SQL] support for sequence() function
  CHANGELOG.md
  docs/sql/integer.md
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/frontend/ExpressionCompiler.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/frontend/calciteCompiler/CustomFunctions.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/functions/FunctionsTest.java
  sql-to-dbsp-compiler/lib/sqllib/src/array.rs
Labels: SQL compiler

#1529 WebConsole: support NULL SQL values for display and xgress
  .arg
  CHANGELOG.md
  web-console/src/@core/theme/palette/index.ts
  web-console/src/app/(root)/(authenticated)/(app)/streaming/inspection/page.tsx
  web-console/src/lib/components/common/JSONEditor.tsx
  web-console/src/lib/components/input/BigNumberInput.tsx
  web-console/src/lib/components/streaming/import/InsertionTable.tsx
  web-console/src/lib/components/streaming/import/RngSettingsDialog.tsx
  web-console/src/lib/components/streaming/import/SQLValueInput.tsx
  web-console/src/lib/components/streaming/import/randomData/ExampleDisplay.tsx
  web-console/src/lib/components/streaming/import/randomData/generators.ts
  web-console/src/lib/components/streaming/import/randomData/index.tsx
  web-console/src/lib/components/streaming/inspection/InspectionTable.tsx
  web-console/src/lib/components/streaming/inspection/InspectionToolbar.tsx
  web-console/src/lib/components/streaming/inspection/RowDeleteButton.tsx
  web-console/src/lib/components/streaming/inspection/SQLTypeHeader.tsx
  web-console/src/lib/components/streaming/inspection/SQLValueDisplay.tsx
  web-console/src/lib/compositions/streaming/import/useDefaultRows.ts
  web-console/src/lib/compositions/streaming/import/useInsertRows.ts
  web-console/src/lib/compositions/streaming/inspection/useDeleteRows.ts
  web-console/src/lib/compositions/streaming/inspection/useQuantiles.ts
  web-console/src/lib/compositions/streaming/inspection/useTableUpdater.ts
  web-console/src/lib/functions/ddl.ts
  web-console/src/lib/functions/sql.ts
  web-console/src/lib/services/pipelineManagerQuery.ts
Labels: enhancement, Web Console, javascript, User-facing

#1572 Fix empty settings page being displayed
  .arg
  web-console/src/lib/components/layouts/StandardVerticalLayout.tsx
  web-console/src/lib/functions/navigation/vertical.ts
  web-console/tests/e2e/demoAccrual.spec.ts
Labels: enhancement, Web Console, javascript, User-facing

#1329 Add entity rename test, change snapshot naming scheme
  .arg
  docs/contributors/ui-testing.md
  web-console/src/lib/components/layouts/analytics/editor.tsx
  web-console/src/lib/components/streaming/management/PipelineTable.tsx
  web-console/tests-examples/demo-todo-app.spec.ts
  web-console/tests/e2e/demoAccrual.spec.ts
  web-console/tests/e2e/entityRename.spec.ts
  web-console/tests/e2e/felderaBasicsTutorial.spec.ts
  web-console/tests/util.ts
Labels: Web Console, javascript

#1556 [SQL] implement gunzip() function
  CHANGELOG.md
  Cargo.lock
  docs/sql/binary.md
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/frontend/ExpressionCompiler.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/frontend/calciteCompiler/CustomFunctions.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/functions/FunctionsTest.java
  sql-to-dbsp-compiler/lib/sqllib/Cargo.toml
  sql-to-dbsp-compiler/lib/sqllib/src/binary.rs
Labels: SQL compiler

#1574 Fix In Queue status when adding a new program
  .arg
  CHANGELOG.md
  web-console/src/lib/components/layouts/analytics/CompileIndicator.tsx
  web-console/src/lib/components/layouts/analytics/editor.tsx
  web-console/tests/e2e/demoAccrual.spec.ts
  web-console/tests/e2e/entityRename.spec.ts
Labels: Web Console, javascript, User-facing

#1576 Adjust some colors in dark mode
  web-console/src/@core/theme/palette/index.ts
  web-console/src/lib/components/streaming/management/AnalyticsPipelineTput.tsx
  web-console/src/lib/components/streaming/management/PipelineMemoryGraph.tsx
Labels: enhancement, Web Console, javascript, User-facing

#1575 Show No Program status of a new pipeline
  .arg
  web-console/src/lib/components/streaming/management/PipelineTable.tsx
Labels: Web Console, javascript, User-facing

#1569 [SQL] Add noop implementations of ceil and floor for integer types
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/DBSPCompiler.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/frontend/ExpressionCompiler.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/functions/FunctionsTest.java
Labels: bug
