Repository feldera/feldera, pull requests merged in 2024-08, with the labels that each got.

#2128 py: use newer API
  python/docs/examples.rst
  python/docs/feldera.rst
  python/docs/introduction.rst
  python/feldera/__init__.py
  python/feldera/_helpers.py
  python/feldera/_sql_table.py
  python/feldera/_sql_view.py
  python/feldera/formats.py
  python/feldera/rest/attached_connector.py
  python/feldera/rest/connector.py
  python/feldera/rest/feldera_client.py
  python/feldera/rest/pipeline.py
  python/feldera/rest/program.py
  python/feldera/rest/sql_table.py
  python/feldera/rest/sql_view.py
  python/feldera/runtime_config.py
  python/feldera/sql_context.py
  python/feldera/sql_schema.py
  python/tests/test_connector.py
  python/tests/test_pipeline.py
  python/tests/test_program.py
  python/tests/test_wireframes.py
Labels: python-sdk

#2144 py: allow specifying update format in SQLContext.input_json
  python/feldera/sql_context.py
  python/tests/test_wireframes.py
Labels: python-sdk

#2166 Add basic implementation of visualization of change streams
  web-console/bun.lockb
  web-console/package.json
  web-console/src/lib/components/auth/AuthButton.svelte
  web-console/src/lib/components/layout/InlineDrawer.svelte
  web-console/src/lib/components/pipelines/List.svelte
  web-console/src/lib/components/pipelines/editor/ChangeStream.svelte
  web-console/src/lib/components/pipelines/editor/InteractionsPanel.svelte
  web-console/src/lib/components/pipelines/editor/TabChangeStream.svelte
  web-console/src/lib/components/pipelines/tabs/ExistingPipelineTabControl.svelte
  web-console/src/lib/compositions/pipelines/usePipelineList.svelte.ts
  web-console/src/lib/compositions/setupHttpClient.ts
  web-console/src/lib/services/auth.ts
  web-console/src/lib/services/pipelineManager.ts
  web-console/src/routes/(authenticated)/+layout.svelte
  web-console/src/routes/+layout.ts
  web-console/svelte.config.js
Labels: enhancement, Web Console, javascript

#2172 Add instructions to the Postgres Debezium demo.
  demo/project_demo13-DebeziumPostgres/run.py
Labels: adapters

#2171 docs: Update tutorial text for WebConsole changes.
  docs/tutorials/basics/part3.md
  docs/tutorials/basics/part4.md
Labels: documentation

#2176 WebConsole: fix eggress query doesn't work with auth disabled
  web-console/src/lib/components/pipelines/editor/ChangeStream.svelte
  web-console/src/lib/compositions/setupHttpClient.ts
  web-console/src/lib/services/pipelineManager.ts
Labels: bug, Web Console, javascript

#2178 Improve change stream UI
  web-console/src/lib/components/layout/pipelines/PipelineEditLayout.svelte
  web-console/src/lib/components/pipelines/editor/ChangeStream.svelte
  web-console/src/lib/components/pipelines/editor/TabChangeStream.svelte
  web-console/src/lib/components/pipelines/list/Actions.svelte
  web-console/src/lib/compositions/pipelines/usePipelineActionCallbacks.svelte.ts
  web-console/src/lib/functions/pipelines/changeStream.ts
  web-console/src/lib/services/pipelineManager.ts
  web-console/src/lib/types/common/function.ts
  web-console/src/lib/types/pipelineManager.ts
Labels: enhancement, Web Console, User-facing

#2183 Pull demos from API on home page reload
  web-console/src/lib/components/pipelines/list/Status.svelte
  web-console/src/lib/services/manager/schemas.gen.ts
  web-console/src/lib/services/manager/types.gen.ts
  web-console/src/lib/services/pipelineManager.ts
  web-console/src/routes/(authenticated)/+page.svelte
  web-console/src/routes/(authenticated)/+page.ts
  web-console/src/routes/(authenticated)/demos/+page.svelte
Labels: enhancement, Web Console, javascript, User-facing

#2130 dbsp_nexmark: Exit without hanging if a DBSP thread panics.
  crates/nexmark/benches/nexmark/main.rs
Labels: bug, CI/CD, rust

#2197 Fix profile picture not displayed
  web-console/src/lib/components/auth/AuthButton.svelte
  web-console/src/lib/components/auth/AuthPopupMenu.svelte
  web-console/src/lib/compositions/@axa-fr/auth.ts
  web-console/src/lib/compositions/auth.ts
  web-console/src/lib/types/auth.ts
  web-console/src/routes/+layout.ts
Labels: bug, Web Console, javascript, User-facing

#2199 Add null check
  web-console/src/lib/compositions/pipelines/usePipelineActionCallbacks.svelte.ts
Labels: bug, Web Console, javascript, User-facing

#2209 Point to tutorial instead of demo
  README.md
Labels: documentation

#2210 Update stale text in the tutorial.
  docs/tutorials/basics/index.mdx
  docs/tutorials/basics/part1.md
Labels: documentation

#2156 dbsp: Reduce memory use for merges with output smaller than the inputs.
  crates/dbsp/src/dynamic/lean_vec.rs
  crates/dbsp/src/dynamic/vec.rs
  crates/dbsp/src/trace/layers/layer.rs
  crates/dbsp/src/trace/layers/leaf.rs
Labels: enhancement, performance, rust

#2215 benchmark: Make output from Feldera SQL runs appear without buffering.
  benchmark/run-nexmark.sh
Labels: performance, python

#2238 Fix default change stream behavior not following list end
  web-console/src/lib/components/pipelines/editor/ChangeStream.svelte
Labels: bug, Web Console, javascript, User-facing

#2239 Multiple WebConsole fixes
  web-console/src/lib/components/layout/pipelines/PipelineEditLayout.svelte
  web-console/src/lib/components/pipelines/List.svelte
  web-console/src/lib/components/pipelines/editor/ChangeStream.svelte
  web-console/src/lib/components/pipelines/editor/TabChangeStream.svelte
  web-console/src/lib/components/pipelines/list/Actions.svelte
  web-console/src/lib/components/pipelines/list/PipelineStatus.svelte
  web-console/src/routes/(authenticated)/+layout.svelte
Labels: Web Console, javascript, User-facing

#2260 [adapters] Speed up pausing/unpausing Kafka.
  Cargo.lock
  crates/adapters/src/transport/kafka/nonft/input.rs
Labels: adapters

#2264 benchmark: Fix bug in feldera-sql runner for non-Nexmark benchmarks.
  benchmark/feldera-sql/run.py
Labels: bug, performance

#2267 benchmark: Make tiktok generation script use default `MAX_EVENTS`.
  benchmark/feldera-sql/benchmarks/tiktok/generate.bash
Labels: bug, performance

#2270 scripts: Pass --events to Feldera SQL benchmark.
  scripts/bench.bash
Labels: bug, performance

#2016 [SQL] Correct supported range of decimal values
  docs/sql/decimal.md
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/backend/rust/ToRustInnerVisitor.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/visitors/inner/Simplify.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/ir/expression/DBSPExpression.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/ir/type/primitive/DBSPTypeDecimal.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/functions/FunctionsTest.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/postgres/PostgresNumericTests.java
Labels: Calcite

#2282 [tiktok] Make Kafka endpoint configurable.
  benchmark/feldera-sql/benchmarks/tiktok/README.md
  benchmark/feldera-sql/benchmarks/tiktok/generate.bash
Labels: performance

#2307 Add throughput and memory graphs
  CHANGELOG.md
  web-console/bun.lockb
  web-console/package.json
  web-console/src/lib/components/dialogs/JSONDialog.svelte
  web-console/src/lib/components/layout/pipelines/PipelineEditLayout.svelte
  web-console/src/lib/components/layout/pipelines/PipelineMemoryGraph.svelte
  web-console/src/lib/components/layout/pipelines/PipelineThroughputGraph.svelte
  web-console/src/lib/components/pipelines/editor/InteractionsPanel.svelte
  web-console/src/lib/components/pipelines/editor/TabPerformance.svelte
  web-console/src/lib/components/pipelines/list/Actions.svelte
  web-console/src/lib/components/pipelines/list/DeploymentStatus.svelte
  web-console/src/lib/compositions/pipelines/usePipelineActionCallbacks.svelte.ts
  web-console/src/lib/compositions/useAggregatePipelineStats.svelte.ts
  web-console/src/lib/functions/pipelineMetrics.ts
  web-console/src/lib/functions/pipelines/status.ts
  web-console/src/lib/services/pipelineManager.ts
Labels: Web Console, javascript, User-facing

#2312 Google Pub/Sub input connector
  CHANGELOG.md
  Cargo.lock
  Earthfile
  crates/adapters/Cargo.toml
  crates/adapters/proptest-regressions/transport/kafka/test.txt
  crates/adapters/src/controller/error.rs
  crates/adapters/src/controller/mod.rs
  crates/adapters/src/lib.rs
  crates/adapters/src/server/error.rs
  crates/adapters/src/server/mod.rs
  crates/adapters/src/test/mock_dezset.rs
  crates/adapters/src/test/mock_input_consumer.rs
  crates/adapters/src/test/mod.rs
  crates/adapters/src/transport/datagen.rs
  crates/adapters/src/transport/kafka/ft/test.rs
  crates/adapters/src/transport/kafka/nonft/input.rs
  crates/adapters/src/transport/kafka/nonft/test.rs
  crates/adapters/src/transport/mod.rs
  crates/adapters/src/transport/nexmark.rs
  crates/adapters/src/transport/pubsub/input.rs
  crates/adapters/src/transport/pubsub/mod.rs
  crates/adapters/src/transport/pubsub/test.rs
  crates/adapters/src/transport/url.rs
  crates/dbsp/Cargo.toml
  crates/dbsp/src/circuit/circuit_builder.rs
  crates/dbsp/src/lib.rs
  crates/dbsp/src/operator/dynamic/time_series/range.rs
  crates/dbsp/src/trace/layers/layer.rs
  crates/pipeline-types/src/config.rs
  crates/pipeline-types/src/serde_with_context/deserialize.rs
  crates/pipeline-types/src/transport/mod.rs
  crates/pipeline-types/src/transport/pubsub.rs
  crates/pipeline_manager/src/api/api_key.rs
  crates/pipeline_manager/src/api/mod.rs
  crates/pipeline_manager/src/compiler.rs
  crates/pipeline_manager/src/config.rs
  crates/pipeline_manager/src/db/types/program.rs
  docs/connectors/sources/pubsub.md
  docs/sidebars.js
  openapi.json
  sql-to-dbsp-compiler/lib/sqlvalue/src/lib.rs
Labels: adapters

#2326 Generalize `window` to support open/closed ranges.
  crates/adapters/src/transport/mod.rs
  crates/dbsp/src/circuit/dbsp_handle.rs
  crates/dbsp/src/operator/dynamic/time_series/rolling_aggregate.rs
  crates/dbsp/src/operator/dynamic/time_series/window.rs
  crates/dbsp/src/operator/time_series/window.rs
  crates/dbsp/src/trace/mod.rs
  crates/dbsp/src/typed_batch.rs
  crates/nexmark/src/queries/q5.rs
  crates/nexmark/src/queries/q7.rs
  crates/nexmark/src/queries/q8.rs
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/circuit/operator/DBSPWindowOperator.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/backend/rust/ToRustVisitor.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/visitors/outer/CircuitRewriter.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/visitors/outer/ImplementNow.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/visitors/outer/InsertLimiters.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/simple/RegressionTests.java
Labels: DBSP core

#2323 dbsp: aggregate_linear_postprocess operator.
  crates/dbsp/src/operator/aggregate.rs
  crates/dbsp/src/operator/dynamic/aggregate/mod.rs
Labels: DBSP core

#2297 Fix WebConsole unresponsive under load with change stream
  web-console/bun.lockb
  web-console/package.json
  web-console/src/lib/components/dialogs/JSONDialog.svelte
  web-console/src/lib/components/layout/pipelines/PipelineEditLayout.svelte
  web-console/src/lib/components/layout/pipelines/PipelineEditorStatusBar.svelte
  web-console/src/lib/components/pipelines/editor/ChangeStream.svelte
  web-console/src/lib/components/pipelines/editor/InteractionsPanel.svelte
  web-console/src/lib/components/pipelines/editor/TabChangeStream.svelte
  web-console/src/lib/components/pipelines/editor/TabPerformance.svelte
  web-console/src/lib/components/pipelines/list/Actions.svelte
  web-console/src/lib/components/pipelines/list/DeploymentStatus.svelte
  web-console/src/lib/components/pipelines/list/PipelineStatus.svelte
  web-console/src/lib/compositions/auth.ts
  web-console/src/lib/compositions/useAggregatePipelineStats.svelte.ts
  web-console/src/lib/functions/common/array.ts
  web-console/src/lib/functions/pipelineMetrics.ts
  web-console/src/lib/functions/pipelines/changeStream.ts
  web-console/src/lib/functions/pipelines/status.ts
  web-console/src/lib/services/pipelineManager.ts
  web-console/src/routes/+layout.ts
Labels: enhancement, Web Console, javascript, User-facing

#2345 Add option to configure circular buffer threshold when parsing Change Stream
  web-console/src/app.css
  web-console/src/lib/components/layout/pipelines/PipelineEditLayout.svelte
  web-console/src/lib/components/pipelines/editor/ChangeStream.svelte
  web-console/src/lib/components/pipelines/editor/InteractionsPanel.svelte
  web-console/src/lib/components/pipelines/editor/TabChangeStream.svelte
  web-console/src/lib/components/pipelines/editor/TabPerformance.svelte
  web-console/src/lib/components/pipelines/editor/TabPipelineErrors.svelte
  web-console/src/lib/functions/pipelines/changeStream.ts
  web-console/src/lib/functions/pipelines/status.ts
Labels: enhancement, Web Console, javascript, User-facing
