Repository feldera/feldera, pull requests merged in 2024-04, with the labels that each got.

#1616 web-console: `yarn format` is needed after regenerating OpenAPI bindi…
  web-console/README.md
Labels: Web Console, API

#1602 JSON: Initial implementation of JSON functions in rust
  Cargo.lock
  Cargo.toml
  crates/dbsp/Cargo.toml
  sql-to-dbsp-compiler/lib/json/Cargo.toml
  sql-to-dbsp-compiler/lib/json/src/lib.rs
Labels: SQL compiler

#1570 [SQL] implement ARRAYS_OVERLAP() function
  CHANGELOG.md
  docs/sql/array.md
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/frontend/ExpressionCompiler.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/SqlIoTest.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/functions/FunctionsTest.java
  sql-to-dbsp-compiler/lib/sqllib/src/array.rs
Labels: enhancement

#1631 dbsp: Rename `*ZSet` to `*WSet` in file-based and fallback implementa…
  crates/dbsp/src/lib.rs
  crates/dbsp/src/operator/dynamic/filter_map.rs
  crates/dbsp/src/operator/dynamic/group/topk.rs
  crates/dbsp/src/operator/dynamic/neighborhood.rs
  crates/dbsp/src/operator/dynamic/time_series/radix_tree/partitioned_tree_aggregate.rs
  crates/dbsp/src/operator/filter_map.rs
  crates/dbsp/src/time/mod.rs
  crates/dbsp/src/trace/mod.rs
  crates/dbsp/src/trace/ord/fallback/indexed_wset.rs
  crates/dbsp/src/trace/ord/fallback/mod.rs
  crates/dbsp/src/trace/ord/fallback/wset.rs
  crates/dbsp/src/trace/ord/file/indexed_wset_batch.rs
  crates/dbsp/src/trace/ord/file/mod.rs
  crates/dbsp/src/trace/ord/file/wset_batch.rs
  crates/dbsp/src/trace/ord/mod.rs
  crates/dbsp/src/trace/ord/vec/mod.rs
  crates/dbsp/src/trace/test/mod.rs
  crates/dbsp/src/typed_batch.rs
Labels: DBSP core, storage, rust

#1645 docs: Update some of the screenshots in the tour.
  docs/tour/connector-creator.png
  docs/tour/home.png
  docs/tour/io.png
  docs/tour/pipeline-builder.png
  docs/tour/pipeline-management.png
  docs/tour/running-pipeline.png
  docs/tour/streaming.png
Labels: documentation

#1657 benchmark: Add back sample benchmarks.
  benchmark/README.md
Labels: documentation, performance

#1662 [SQL] Implement addition for TIME and INTERVAL types
  Cargo.lock
  docs/sql/datetime.md
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/simple/TimeArithmeticTests.java
  sql-to-dbsp-compiler/lib/json/Cargo.toml
  sql-to-dbsp-compiler/lib/json/src/lib.rs
  sql-to-dbsp-compiler/lib/sqllib/src/interval.rs
  sql-to-dbsp-compiler/lib/sqllib/src/lib.rs
  sql-to-dbsp-compiler/lib/sqllib/src/timestamp.rs
Labels: SQL compiler
