Repository feldera/feldera, pull requests merged in 2024-05, with the labels that each got.

#1708 deploy: Copy `Cargo.lock` into the workspace for precompiling.
  Earthfile
  deploy/Dockerfile
Labels: bug, SQL compiler, Pipeline Manager, CI/CD, rust

#1705 dbsp: Add names to the operators used for spilling and unspilling.
  crates/dbsp/src/operator/dynamic/trace.rs
Labels: DBSP core, storage, rust

#1732 WebConsole: update dependencies, update test snapshots
  .arg
  .devcontainer/Dockerfile
  Earthfile
  docs/contributors/dev-flow.md
  web-console/.github/workflows/playwright.yml
  web-console/bun.lockb
  web-console/next.config.js
  web-console/package.json
  web-console/src/app/(root)/(authenticated)/(app)/services/list/page.tsx
  web-console/src/app/(root)/layout.tsx
  web-console/src/lib/components/analytics/TableSqlPrograms.tsx
  web-console/src/lib/components/common/table/DataGridPro.tsx
  web-console/src/lib/components/common/table/DataGridToolbar.tsx
  web-console/src/lib/components/common/table/ResetColumnViewButton.tsx
  web-console/src/lib/components/connectors/DataSourceTable.tsx
  web-console/src/lib/components/connectors/drawer/SelectSourceTable.tsx
  web-console/src/lib/components/services/dialogs/elements/LibrdkafkaOptionElement.tsx
  web-console/src/lib/components/streaming/import/ImportToolbar.tsx
  web-console/src/lib/components/streaming/import/InsertionTable.tsx
  web-console/src/lib/components/streaming/import/randomData/generators.ts
  web-console/src/lib/components/streaming/inspection/InspectionTable.tsx
  web-console/src/lib/components/streaming/management/PipelineTable.tsx
  web-console/src/lib/compositions/streaming/import/useDefaultRows.ts
  web-console/src/lib/compositions/streaming/import/useDynamicValidationForm/yup.tsx
  web-console/src/lib/compositions/streaming/import/useGenerateRows.ts
  web-console/src/lib/functions/common/valibot/bignumber.ts
  web-console/src/lib/functions/common/valibot/maxBigNumber.ts
  web-console/src/lib/functions/common/valibot/minBigNumber.ts
  web-console/src/lib/functions/ddl.ts
  web-console/src/lib/functions/valibot.ts
  web-console/tests/e2e/demoAccrual.spec.ts
  web-console/yarn.lock
Labels: Web Console, javascript

#1752 Fix crash when switching between tables in Data Insert page
  web-console/src/app/(root)/(authenticated)/(app)/streaming/inspection/page.tsx
Labels: Web Console, javascript, User-facing

#1765 Fix serde issue with Delta input config.
  crates/adapters/src/integrated/delta_table/input.rs
  crates/pipeline-types/src/transport/delta_table.rs
  openapi.json
Labels: adapters

#1771 py: use per-instance variables instead of static
  python/feldera/_sql_table.py
  python/feldera/output_handler.py
  python/feldera/rest/attached_connector.py
  python/feldera/rest/config.py
  python/feldera/rest/connector.py
  python/feldera/rest/pipeline.py
  python/feldera/rest/program.py
  python/feldera/sql_context.py
  python/feldera/sql_schema.py
  python/tests/test_wireframes.py
Labels: bug, python-sdk

#1600 Explain Firefox how numeric input should work
  CHANGELOG.md
  Earthfile
  web-console/.gitignore
  web-console/README.md
  web-console/package.json
  web-console/playwright-ct.config.ts
  web-console/playwright/index.html
  web-console/playwright/index.tsx
  web-console/src/lib/components/connectors/dialogs/DebeziumInputConnector.tsx
  web-console/src/lib/components/connectors/dialogs/GenericEditorConnector.tsx
  web-console/src/lib/components/connectors/dialogs/KafkaInputConnector.tsx
  web-console/src/lib/components/connectors/dialogs/KafkaOutputConnector.tsx
  web-console/src/lib/components/connectors/dialogs/SnowflakeOutputConnector.tsx
  web-console/src/lib/components/connectors/dialogs/UrlConnector.tsx
  web-console/src/lib/components/connectors/dialogs/elements/kafka/AuthElement.tsx
  web-console/src/lib/components/connectors/dialogs/tabs/kafka/TabKafkaInputDetails.tsx
  web-console/src/lib/components/connectors/dialogs/tabs/kafka/TabKafkaOutputDetails.tsx
  web-console/src/lib/components/input/BigNumberInput.tsx
  web-console/src/lib/components/input/IntermediateInput.ts
  web-console/src/lib/components/input/NumberInput.spec.tsx
  web-console/src/lib/components/input/NumberInput.tsx
  web-console/src/lib/components/services/dialogs/KafkaService.tsx
  web-console/src/lib/components/services/dialogs/elements/LibrdkafkaOptionElement.tsx
  web-console/src/lib/components/services/dialogs/elements/LibrdkafkaOptionsElement.tsx
  web-console/src/lib/components/services/dialogs/elements/PickLibrdkafkaOptionElement.tsx
  web-console/src/lib/components/streaming/import/SQLValueInput.tsx
  web-console/src/lib/components/streaming/import/randomData/generators.ts
  web-console/src/lib/functions/ddl.ts
  web-console/src/lib/functions/kafka/authParamsSchema.ts
  web-console/src/lib/functions/kafka/librdkafkaOptions.ts
  web-console/src/lib/types/xgressServices/ServiceDialog.ts
Labels: bug, Web Console, javascript, User-facing

#1756 Fix desync of table schema and rows for import when switching tables
  .gitignore
  web-console/playwright-ct.config.ts
  web-console/playwright/index.html
  web-console/playwright/index.tsx
  web-console/src/app/(root)/(authenticated)/(app)/streaming/inspection/page.tsx
  web-console/src/lib/components/input/BigNumberInput.tsx
  web-console/src/lib/components/streaming/import/ImportToolbar.tsx
  web-console/src/lib/components/streaming/import/InsertionTable.tsx
  web-console/src/lib/components/streaming/import/SQLValueInput.tsx
  web-console/src/lib/components/streaming/import/randomData/ExampleDisplay.tsx
  web-console/src/lib/components/streaming/import/randomData/generators.ts
  web-console/src/lib/components/streaming/import/randomData/index.tsx
  web-console/src/lib/components/streaming/inspection/TableInspectionTab.spec.tsx
  web-console/src/lib/components/streaming/inspection/TableInspectionTab.tsx
  web-console/src/lib/components/streaming/inspection/ViewInspectionTab.tsx
  web-console/src/lib/compositions/streaming/import/useDefaultRows.ts
  web-console/src/lib/functions/common/bigNumber.ts
  web-console/src/lib/functions/common/d3-random-bignumber/exponential.ts
  web-console/src/lib/functions/common/d3-random-bignumber/normal.ts
  web-console/src/lib/functions/common/d3-random-bignumber/randomInt.ts
  web-console/src/lib/functions/common/date.ts
  web-console/src/lib/functions/common/valibot/bignumber.ts
  web-console/src/lib/functions/common/valibot/maxBigNumber.ts
  web-console/src/lib/functions/common/valibot/minBigNumber.ts
  web-console/src/lib/functions/ddl.ts
  web-console/tests/util-ct.tsx
  web-console/tsconfig.json
Labels: bug, Web Console, javascript, User-facing

#1780 Add backpressure mode to HTTP output connector.
  CHANGELOG.md
  crates/adapters/src/server/mod.rs
  crates/adapters/src/transport/http/output.rs
  crates/pipeline_manager/src/api/http_io.rs
  openapi.json
Labels: API

#1788 py: do not pause before shutting down the pipeline
  python/feldera/sql_context.py
Labels: bug, python-sdk

#1787 Add regions to join and antijoin circuits.
  crates/dbsp/src/operator/dynamic/join.rs
Labels: DBSP core

#1789 py: add Python SDK docs to the website sidebar
  docs/sidebars.js
Labels: User-facing

#1790 fix routing to python docs from website sidebar
  docs/sidebars.js
Labels: bug

#1791 py: apply backpressure by default for http egress
  python/feldera/rest/client.py
Labels: python-sdk

#1806 py: add typing-extensions to pyproject.toml
  python/.gitignore
  python/pyproject.toml
Labels: dependencies, python-sdk
