Repository feldera/feldera, pull requests merged in 2025-07, with the labels that each got.

#4260 [adapters] Serialize desired `ControllerStatus` instead of post-editing.
  crates/adapters/src/controller/stats.rs
  crates/adapters/src/server/mod.rs
Labels: adapters

#4256 [adapters] Document pipeline lifecycle.
  crates/adapters/src/controller/mod.rs
Labels: adapters

#4277 [adapters] Make collecting memory stats cheaper.
  crates/adapters/Cargo.toml
Labels: bug, dependencies, performance, adapters

#4311 [adapters] Fix delta connector stuck in the barrier state.
  crates/adapters/src/integrated/delta_table/input.rs
  crates/adapters/src/integrated/delta_table/test.rs
Labels: adapters

#4361 treewide: Change DOUBLEs used for aggregation into DECIMAL(38, 2).
  demo/packaged/sql/01-fraud-detection.sql
  demo/packaged/sql/03-product-availability.sql
  demo/packaged/sql/04-feature-engineering.sql
  demo/project_demo10-FraudDetectionDeltaLake/notebook.ipynb
  demo/project_demo10-FraudDetectionDeltaLake/run.py
  demo/project_demo11-Hopsworks/1_feature_pipeline.ipynb
  docs.feldera.com/docs/connectors/sources/datagen.md
  docs.feldera.com/docs/connectors/sources/delta.md
  docs.feldera.com/docs/connectors/sources/iceberg.md
  docs.feldera.com/docs/use_cases/fraud_detection/fraud_detection.md
  python/docs/examples.rst
Labels: performance

#4383 [pipeline-manager] Allow storage options to change without clearing s…
  crates/pipeline-manager/src/db/operations/pipeline.rs
Labels: API, Pipeline manager, storage, rust

#4423 [fda] Add `metrics` command for retrieving metrics.
  crates/fda/src/adhoc.rs
  crates/fda/src/bench/mod.rs
  crates/fda/src/cli.rs
  crates/fda/src/main.rs
  crates/fda/src/shell.rs
  crates/pipeline-manager/src/api/endpoints/pipeline_interaction.rs
  openapi.json
Labels: API, CLI, rust

#4425 [python] Improve docstring for `set_runtime_config`.
  python/feldera/pipeline.py
Labels: documentation, python-sdk

#4439 [dbsp] Fix deserialize_indexed_wset.
  crates/dbsp/src/trace/mod.rs
Labels: bug, DBSP core, high priority, user-reported

#4454 [WebConsole] Allow editing code if storage is used but dev_tweaks.backfill_avoidance = true
  web-console/src/lib/components/layout/pipelines/PipelineEditLayout.svelte
Labels: Web Console

#4431 Kafka logging refinements
  crates/adapters/src/transport/kafka/ft/input.rs
Labels: adapters, rust, user-reported
