Repository feldera/feldera, pull requests merged in 2025-02, with the labels that each got.

#3451 [dbsp] Add user configuration for the storage cache size.
  crates/dbsp/src/circuit/runtime.rs
  crates/dbsp/src/profile/mod.rs
  crates/dbsp/src/storage/buffer_cache/cache.rs
  crates/dbsp/src/storage/file/cache.rs
  crates/dbsp/src/storage/file/mod.rs
  crates/dbsp/src/storage/file/reader.rs
  crates/dbsp/src/storage/file/writer.rs
  crates/dbsp/src/trace/ord/file/indexed_wset_batch.rs
  crates/dbsp/src/trace/ord/file/key_batch.rs
  crates/dbsp/src/trace/ord/file/val_batch.rs
  crates/dbsp/src/trace/ord/file/wset_batch.rs
  crates/feldera-types/src/config.rs
  openapi.json
  web-console/src/lib/services/manager/schemas.gen.ts
  web-console/src/lib/services/manager/types.gen.ts
Labels: storage, rust

#3456 [SQL] Fields access in a nullable struct is a nullable result
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/backend/rust/ToRustInnerVisitor.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/visitors/outer/LowerCircuitVisitor.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/ir/expression/DBSPFieldExpression.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/simple/RegressionTests.java
  sql-to-dbsp-compiler/build.sh
Labels: Calcite

#3467 [sqllib] Implement SqlString using arcstr
  Cargo.lock
  crates/sqllib/Cargo.toml
  crates/sqllib/src/string.rs
  docs/sql/udf.md
  sql-to-dbsp-compiler/temp/Cargo.toml
Labels: SQL compiler

#3474 [adapters] Improve panic message when the Kafka broker is down.
  crates/adapters/src/test/kafka.rs
Labels: adapters, CI/CD, rust

#3436 [adapters] Better Kafka output error reporting.
  crates/adapters/src/transport/kafka/mod.rs
  crates/adapters/src/transport/kafka/nonft/output.rs
Labels: adapters

#3383 [dbsp] Monomorphic version of DBSP API.
  Earthfile
  crates/dbsp/Cargo.toml
  crates/dbsp/src/circuit/circuit_builder.rs
  crates/dbsp/src/circuit/mod.rs
  crates/dbsp/src/lib.rs
  crates/dbsp/src/mono/mod.rs
  crates/dbsp/src/operator/aggregate.rs
  crates/dbsp/src/operator/asof_join.rs
  crates/dbsp/src/operator/chain_aggregate.rs
  crates/dbsp/src/operator/controlled_filter.rs
  crates/dbsp/src/operator/distinct.rs
  crates/dbsp/src/operator/dynamic/aggregate/chain_aggregate.rs
  crates/dbsp/src/operator/dynamic/aggregate/mod.rs
  crates/dbsp/src/operator/dynamic/asof_join.rs
  crates/dbsp/src/operator/dynamic/controlled_filter.rs
  crates/dbsp/src/operator/dynamic/distinct.rs
  crates/dbsp/src/operator/dynamic/filter_map.rs
  crates/dbsp/src/operator/dynamic/group/lag.rs
  crates/dbsp/src/operator/dynamic/group/topk.rs
  crates/dbsp/src/operator/dynamic/input.rs
  crates/dbsp/src/operator/dynamic/join.rs
  crates/dbsp/src/operator/dynamic/mod.rs
  crates/dbsp/src/operator/dynamic/time_series/waterline.rs
  crates/dbsp/src/operator/dynamic/time_series/window.rs
  crates/dbsp/src/operator/group/lag.rs
  crates/dbsp/src/operator/group/topk.rs
  crates/dbsp/src/operator/input.rs
  crates/dbsp/src/operator/join.rs
  crates/dbsp/src/operator/mod.rs
  crates/dbsp/src/operator/time_series/waterline.rs
  crates/dbsp/src/operator/time_series/window.rs
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/backend/rust/RustFileWriter.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/backend/rust/ToRustVisitor.java
  sql-to-dbsp-compiler/temp/Cargo.toml
Labels: SQL compiler, DBSP core

#3489 [adapters] Parse Parquet data using arrow.
  crates/adapterlib/src/catalog.rs
  crates/adapters/src/format/avro/test.rs
  crates/adapters/src/format/json/input.rs
  crates/adapters/src/format/parquet/mod.rs
  crates/adapters/src/format/raw.rs
  crates/adapters/src/static_compile/deinput.rs
  crates/adapters/src/test/datagen.rs
  crates/adapters/src/test/mock_dezset.rs
  crates/adapters/src/test/mod.rs
Labels: performance, adapters

#3498 [adapters] Add operation type to raw Avro messages.
  crates/adapterlib/src/format.rs
  crates/adapterlib/src/transport.rs
  crates/adapters/src/controller/mod.rs
  crates/adapters/src/format/avro/output.rs
  crates/adapters/src/format/avro/test.rs
  crates/adapters/src/format/json/output.rs
  crates/adapters/src/format/parquet/test.rs
  crates/adapters/src/integrated/delta_table/output.rs
  crates/adapters/src/test/mock_output_consumer.rs
  crates/adapters/src/transport/file.rs
  crates/adapters/src/transport/http/output.rs
  crates/adapters/src/transport/kafka/ft/output.rs
  crates/adapters/src/transport/kafka/nonft/output.rs
  docs/formats/avro.md
Labels: adapters

#3500 [dbsp] Implement Hash for dyn DataTrait.
  crates/dbsp/src/dynamic/data.rs
  crates/dbsp/src/dynamic/declare_trait_object.rs
Labels: DBSP core

#3507 Bloom filter fixes
  crates/dbsp/src/storage/file/writer.rs
Labels: bug, performance, storage, rust

#3516 [dbsp] Properly sort error stream for controlled filters.
  crates/dbsp/src/operator/dynamic/controlled_filter.rs
Labels: bug, DBSP core, rust

#3531 [dbsp] Revert priority scheduler for spine merging
  crates/dbsp/src/trace/spine_async/mod.rs
  crates/dbsp/src/trace/spine_async/thread.rs
Labels: performance, storage, rust

#3539 [dbsp] Polish new builder API implementation.
  crates/dbsp/src/operator/dynamic/aggregate/mod.rs
  crates/dbsp/src/trace/ord/file/indexed_wset_batch.rs
  crates/dbsp/src/trace/ord/file/key_batch.rs
  crates/dbsp/src/trace/ord/file/val_batch.rs
  crates/dbsp/src/trace/ord/file/wset_batch.rs
  crates/dbsp/src/trace/ord/vec/indexed_wset_batch.rs
  crates/dbsp/src/trace/ord/vec/key_batch.rs
  crates/dbsp/src/trace/ord/vec/val_batch.rs
  crates/dbsp/src/trace/ord/vec/wset_batch.rs
Labels: DBSP core, rust

#3544 [dbsp] trace: Fix implementation of FileWSetCursor::step_val.
  crates/dbsp/src/trace/ord/file/wset_batch.rs
Labels: bug, DBSP core, storage, rust

#3550 [dbsp] Add CPU affinity support for pipelines.
  Cargo.lock
  crates/adapters/src/controller/mod.rs
  crates/dbsp/Cargo.toml
  crates/dbsp/src/circuit/dbsp_handle.rs
  crates/dbsp/src/circuit/runtime.rs
  crates/feldera-types/src/config.rs
  crates/pipeline-manager/src/api/examples.rs
  crates/pipeline-manager/src/api/main.rs
  crates/pipeline-manager/src/db/test.rs
  openapi.json
  web-console/src/lib/services/manager/schemas.gen.ts
  web-console/src/lib/services/manager/types.gen.ts
Labels: DBSP core, performance, rust

#3552 [dbsp] Avoid dead code warning when compiling without debug assertions.
  crates/dbsp/src/trace/ord/vec/wset_batch.rs
Labels: DBSP core, rust

#3551 [dbsp] Log message improvements.
  crates/dbsp/src/circuit/runtime.rs
Labels: DBSP core, rust

#3557 Refs/heads/nway
  crates/dbsp/src/trace/spine_async/list_merger.rs
  crates/dbsp/src/trace/spine_async/mod.rs
Labels: DBSP core, performance, rust

#3556 [dbsp] Fix GenericMerger for untimed batches.
  crates/dbsp/src/trace/ord/fallback/utils.rs
Labels: bug, DBSP core, rust

#3561 [docs] Typo in orchestration.md
  docs/connectors/orchestration.md
Labels: bug, documentation

#3563 [docs] Typo in Delta connector docs
  docs/connectors/sinks/delta.md
Labels: documentation

#3594 [dbsp] Comment improvements in the async merger.
  crates/dbsp/src/trace/spine_async/mod.rs
Labels: DBSP core, performance, rust

#3601 [adapters] test: fix flaky redis test
  crates/adapters/src/transport/redis/test.rs
Labels: adapters

#3583 [WebConsole] Minor design changes
  web-console/package.json
  web-console/src/assets/fonts/feldera-material-icons.css
  web-console/src/assets/fonts/feldera-material-icons.svg
  web-console/src/assets/fonts/feldera-material-icons.ttf
  web-console/src/assets/fonts/feldera-material-icons.woff
  web-console/src/assets/fonts/feldera-material-icons.woff2
  web-console/src/assets/fonts/generic-icons.css
  web-console/src/lib/components/layout/pipelines/PipelineEditLayout.svelte
  web-console/src/lib/components/pipelines/List.svelte
  web-console/src/lib/components/pipelines/editor/InteractionsPanel.svelte
  web-console/src/lib/components/pipelines/editor/TabPerformance.svelte
  web-console/src/lib/components/pipelines/list/PipelineStatusDot.svelte
Labels: Web Console

#3608 Fix streaming HTTP requests (e.g. logs) not cancelling
  web-console/src/lib/components/pipelines/editor/TabAdHocQuery.svelte
  web-console/src/lib/components/pipelines/editor/TabChangeStream.svelte
  web-console/src/lib/components/pipelines/editor/TabLogs.svelte
  web-console/src/lib/functions/pipelines/changeStream.ts
  web-console/src/lib/services/pipelineManager.ts
Labels: bug, Web Console, javascript

#3604 [WebConsole] Fix polling loop not cancelling when a request is in progress
  web-console/src/lib/functions/common/promise.ts
Labels: bug, Web Console, javascript

#3629 [docs] Typos in orchestration.md
  docs/connectors/orchestration.md
Labels: bug, documentation
