Repository feldera/feldera, pull requests merged in 2025-09, with the labels that each got.

#4749 [adapters] Fix missing `input_stream` in AvroParser::stage().
  crates/adapters/src/format/avro/input.rs
Labels: bug, adapters, rust, user-reported

#4780 [adapters] Latency measurement framework.
  Cargo.lock
  crates/adapterlib/Cargo.toml
  crates/adapterlib/src/transport.rs
  crates/adapters/src/controller.rs
  crates/adapters/src/controller/checkpoint.rs
  crates/adapters/src/controller/stats.rs
  crates/adapters/src/integrated/delta_table/input.rs
  crates/adapters/src/integrated/delta_table/test.rs
  crates/adapters/src/integrated/postgres/input.rs
  crates/adapters/src/test/mock_input_consumer.rs
  crates/adapters/src/transport/adhoc.rs
  crates/adapters/src/transport/clock.rs
  crates/adapters/src/transport/file.rs
  crates/adapters/src/transport/http/input.rs
  crates/adapters/src/transport/kafka/ft/input.rs
  crates/adapters/src/transport/kafka/ft/test.rs
  crates/adapters/src/transport/nexmark.rs
  crates/adapters/src/transport/pubsub/input.rs
  crates/adapters/src/transport/s3.rs
  crates/adapters/src/transport/url.rs
  crates/datagen/src/lib.rs
  crates/iceberg/src/input.rs
  docs.feldera.com/docs/operations/metrics.md
Labels: adapters

#4804 Update garbage collection notes in time-series tutorial
  docs.feldera.com/docs/tutorials/time-series.md
Labels: documentation, user-reported

#4832 [py] Don't allow listen() on a stopped pipeline.
  docs.feldera.com/docs/changelog.md
  python/docs/examples.rst
  python/docs/pandas.rst
  python/feldera/_callback_runner.py
  python/feldera/output_handler.py
  python/feldera/pipeline.py
  python/tests/platform/test_shared_pipeline.py
  python/tests/runtime/lateness/test_issue4457.py
  python/tests/runtime/test_udf.py
Labels: python-sdk
