Repository feldera/feldera, pull requests merged in 2025-03, with the labels that each got.

#3667 Ensure that the connection error is printed in the logs when the connection to the log stream fails
  web-console/src/lib/components/pipelines/editor/TabAdHocQuery.svelte
  web-console/src/lib/components/pipelines/editor/TabLogs.svelte
  web-console/src/lib/compositions/common/useReverseScrollContainer.svelte.ts
  web-console/src/lib/services/pipelineManager.ts
Labels: Web Console, javascript, UX

#3673 [dbsp] Avoid warnings for `from_archived`.
  crates/dbsp/src/dynamic/lean_vec.rs
Labels: bug, DBSP core, high priority, rust

#3682 [dbsp] Don't include "backend-mode" in features for docs.rs.
  crates/dbsp/src/lib.rs
Labels: documentation, user-reported

#3677 [dbsp] Write Bloom filters to layer files.
  Cargo.lock
  crates/dbsp/Cargo.toml
  crates/dbsp/src/storage/file/format.rs
  crates/dbsp/src/storage/file/mod.rs
  crates/dbsp/src/storage/file/reader.rs
  crates/dbsp/src/storage/file/writer.rs
  crates/storage/src/block.rs
Labels: bug, DBSP core, storage, rust

#3684 [dbsp] Don't use `FilterMap` in the tutorial or reference it in docs.
  crates/dbsp/src/circuit/circuit_builder.rs
  crates/dbsp/src/operator/dynamic/filter_map.rs
  crates/dbsp/src/tutorial.rs
Labels: bug, documentation, high priority

#3622 [docs] usecase: batch to feldera: tpch part 1
  docs/sidebars.js
  docs/use_cases/batch/intro.md
  docs/use_cases/batch/part1.md
  docs/use_cases/batch/part2.md
  docs/use_cases/batch/tpch-schema.png
  docs/use_cases/batch/tpch1-arch.png
Labels: documentation

#3688 [adapters] Don't write empty transaction to Delta.
  crates/adapters/src/integrated/delta_table/output.rs
Labels: adapters

#3696 [python] test_delete_all_pipelines: shutdown before deletion
  python/tests/test_pipeline.py
Labels: python-sdk

#3695 Add a tooltip to warn when can't edit the pipeline's name
  web-console/src/lib/components/layout/pipelines/PipelineEditLayout.svelte
  web-console/src/lib/components/pipelines/PipelineNameInput.svelte
Labels: Web Console

#3697 Add a tooltip containing feldera revision
  web-console/src/lib/components/apiKey/NewApiKeyForm.svelte
  web-console/src/lib/components/auth/AuthButton.svelte
  web-console/src/lib/components/layout/Footer.svelte
  web-console/src/lib/components/layout/pipelines/PipelineEditLayout.svelte
  web-console/src/lib/components/other/ClipboardCopyButton.svelte
  web-console/src/lib/components/version/VersionDisplay.svelte
  web-console/src/routes/+layout.ts
Labels: Web Console

#3715 [dbsp] Small optimization in join.
  crates/dbsp/src/operator/dynamic/join.rs
Labels: DBSP core, performance

#3720 [adapters] Add `runtime_elapsed_msecs` to pipeline statistics.
  crates/adapters/src/controller/mod.rs
  crates/adapters/src/controller/stats.rs
Labels: API, adapters, rust

#3724 [dbsp] Remove io_uring storage backend.
  .github/workflows/test-unit.yml
  Cargo.lock
  crates/dbsp/Cargo.toml
  crates/dbsp/src/storage/backend/io_uring_impl/mod.rs
  crates/dbsp/src/storage/backend/io_uring_impl/tests.rs
  crates/dbsp/src/storage/backend/mod.rs
  crates/dbsp/src/storage/bin/bench.rs
  crates/dbsp/src/storage/mod.rs
  crates/feldera-types/src/config.rs
  deploy/docker-compose.yml
  deploy/enable-io_uring.sh
  deploy/seccomp.json
  openapi.json
  web-console/src/lib/services/manager/schemas.gen.ts
  web-console/src/lib/services/manager/types.gen.ts
Labels: storage, rust

#3748 [adapters] Delta source: add `filter` property.
  crates/adapters/src/integrated/delta_table/input.rs
  crates/adapters/src/integrated/delta_table/test.rs
  crates/feldera-types/src/transport/delta_table.rs
  docs/pipelines/connectors/sources/delta.md
  openapi.json
Labels: adapters

#3760 [dbsp] Panic in ListMerger.
  crates/dbsp/src/trace/spine_async/list_merger.rs
Labels: bug, DBSP core

#3709 [docs] usecase: Accelerating Batch Analytics Part 3
  docs/use_cases/batch/intro.md
  docs/use_cases/batch/main-arch.jpeg
  docs/use_cases/batch/main-arch.png
  docs/use_cases/batch/part2-arch.png
  docs/use_cases/batch/part2.md
  docs/use_cases/batch/part3-arch.png
  docs/use_cases/batch/part3.md
  docs/use_cases/batch/tpch-delta-arch.png
Labels: documentation

#3763 [adapters] Delta source: wait for state=RUNNING.
  crates/adapters/src/integrated/delta_table/input.rs
Labels: adapters

#3786 [SQL] Add information in schema.json about unused columns
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/frontend/calciteCompiler/RelColumnMetadata.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/frontend/statements/IHasSchema.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/visitors/unusedFields/UnusedFields.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/MetadataTests.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/adapters/AvroSchemaTest.java
Labels: SQL compiler

#3796 [adapters] Serialize Kafka adapter initialization.
  crates/adapters/src/transport/kafka/ft/input.rs
  crates/adapters/src/transport/kafka/mod.rs
  crates/adapters/src/transport/kafka/nonft/input.rs
Labels: bug, adapters
