Repository feldera/feldera, pull requests merged in 2025-08, with the labels that each got.

#4490 [types] Support fractional CPUs.
  crates/feldera-types/src/config.rs
  crates/pipeline-manager/src/api/endpoints/pipeline_management.rs
  crates/pipeline-manager/src/db/test.rs
  crates/pipeline-manager/tests/integration_test.rs
  openapi.json
Labels: API, Pipeline manager, adapters, rust

#4499 [adapters] Don't pad out base64 with `=`.
  crates/adapters/src/controller/stats.rs
Labels: adapters, rust

#4521 Update Grafana dashboard template to reflect current metrics.
  deploy/grafana_dashboard.json
Labels: demo

#4509 [adapters] Use serde_json_path_to_error to get better error messages.
  Cargo.lock
  Cargo.toml
  crates/adapterlib/Cargo.toml
  crates/adapterlib/src/transport.rs
  crates/adapters/Cargo.toml
  crates/adapters/src/adhoc/mod.rs
  crates/adapters/src/controller/checkpoint.rs
  crates/adapters/src/controller/journal.rs
  crates/adapters/src/controller/stats.rs
  crates/adapters/src/static_compile/catalog.rs
  crates/adapters/src/transport/file.rs
  crates/adapters/src/transport/url.rs
Labels: adapters, rust

#4530 [docs] Update changelog to reflect that decimal library update in 0.105.0.
  docs.feldera.com/docs/changelog.md
Labels: documentation

#4547 [adapters] Improve comment on Resume.
  crates/adapterlib/src/transport.rs
Labels: ft

#4605 [py] Copy-paste bug in stats.py
  python/feldera/stats.py
Labels: python-sdk

#4641 py: show resp status in error messages
  python/feldera/rest/errors.py
Labels: python-sdk

#4654 docs: Update changelog release versions.
  docs.feldera.com/docs/changelog.md
Labels: documentation
