Repository feldera/feldera, pull requests merged in 2025-04, with the labels that each got.

#3811 [adapters] Remove cmake dependency for rdkafka.
  .github/workflows/build-java.yml
  .github/workflows/build-rust.yml
  .github/workflows/ci-post-release.yml
  .github/workflows/ci-pre-mergequeue.yml
  .github/workflows/publish-crates.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-java.yml
  .github/workflows/test-unit.yml
  CONTRIBUTING.md
  Cargo.lock
  README.md
  crates/adapters/Cargo.toml
  crates/nexmark/Cargo.toml
  deploy/Dockerfile
  deploy/build.Dockerfile
Labels: adapters

#3812 [adapters] Make sure Kafka input connectors have unique group IDs.
  Cargo.lock
  crates/feldera-types/Cargo.toml
  crates/feldera-types/src/transport/kafka.rs
Labels: bug, adapters, rust

#3816 Allow shutting down Unavailable pipelines on home page
  web-console/src/lib/components/pipelines/table/AvailableActions.svelte
Labels: Web Console, javascript

#3818 Revert "[adapters] Serialize Kafka adapter initialization."
  crates/adapters/src/transport/kafka/ft/input.rs
  crates/adapters/src/transport/kafka/mod.rs
  crates/adapters/src/transport/kafka/nonft/input.rs
Labels: performance, adapters, rust

#3851 [adapters] Avoid race for running ad hoc query after input processed.
  crates/adapters/src/controller/mod.rs
Labels: bug, adhoc, rust

#3852 Kafka logging
  crates/adapters/src/transport/kafka/ft/input.rs
Labels: bug, adapters, CI/CD, rust

#3850 [adapters] Rename `run_uuid` to `incarnation_uuid`.
  crates/adapters/src/controller/stats.rs
Labels: API, adapters, rust

#3859 [adapters] ssl.ca.location defaults to probe.
  crates/adapters/src/transport/kafka/ft/mod.rs
  crates/feldera-types/src/transport/kafka.rs
Labels: adapters

#3885 [adapters] Add transition diagram for `InputReaderCommand`.
  crates/adapterlib/src/transport.rs
Labels: Good First Issue

#3899 [fda] Fix test.bash failure on open source edition.
  crates/fda/test.bash
Labels: ft, CLI

#3914 [adapters] Speed up compilation of the main generated crate.
  Cargo.lock
  crates/adapters/Cargo.toml
  crates/adapters/src/server/mod.rs
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/backend/rust/multi/CircuitWriter.java
Labels: adapters

#3930 [adapters] Symbolize heap profiles.
  Cargo.lock
  Cargo.toml
  crates/adapters/Cargo.toml
  crates/pipeline-manager/Cargo.toml
  crates/pipeline-manager/src/compiler/rust_compiler.rs
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/backend/rust/multi/MultiCratesWriter.java
  sql-to-dbsp-compiler/experiments/Cargo.lock
  sql-to-dbsp-compiler/experiments/Cargo.toml
  sql-to-dbsp-compiler/experiments/primary.sql
  sql-to-dbsp-compiler/experiments/run.sh
  sql-to-dbsp-compiler/experiments/src/final.png
  sql-to-dbsp-compiler/experiments/src/lib.rs
  sql-to-dbsp-compiler/experiments/src/main.rs
  sql-to-dbsp-compiler/temp/Cargo.toml
Labels: performance, adapters

#3951 [adapters] Move suspend_errors from global metrics
  crates/adapters/src/controller/stats.rs
  crates/pipeline-manager/tests/integration_test.rs
Labels: adapters

#3958 [adapters] Delta: add root cause to error message.
  crates/adapters/src/integrated/delta_table/input.rs
Labels: adapters

#3959 [adapters] Fix lir test.
  crates/adapters/src/controller/test.rs
Labels: adapters
