Repository feldera/feldera, pull requests merged in 2025-06, with the labels that each got.

#4143 [adapters] Fix EOI handling in datagen.
  crates/datagen/src/lib.rs
Labels: bug, adapters

#4150 [dbsp] Use JSON for `pspine-batches-*` and `checkpoint.feldera`.
  Cargo.lock
  crates/dbsp/src/circuit/checkpointer.rs
  crates/dbsp/src/trace/spine_async/mod.rs
  crates/storage/Cargo.toml
  crates/storage/src/error.rs
  crates/storage/src/lib.rs
Labels: storage, rust

#4149 [adapters] Bump serde-arrow crate.
  Cargo.lock
  Cargo.toml
Labels: adapters, user-reported

#4152 Throw exception on invalid update_format
  python/feldera/pipeline.py
Labels: python-sdk

#4158 [adapters] Fix dec serialization.
  crates/sqllib/src/dec.rs
Labels: adapters

#4153 [dbsp] Use Bloom filter in "distinct" and "join" operator optimizations.
  crates/dbsp/src/storage/file/reader/fetch_indexed_zset.rs
  crates/dbsp/src/storage/file/reader/fetch_zset.rs
  crates/dbsp/src/storage/file/reader/mod.rs
Labels: performance, storage, rust

#4169 [dbsp] Fix deadlock w multiple recursive fragments
  crates/dbsp/src/circuit/circuit_builder.rs
  crates/dbsp/src/circuit/runtime.rs
  crates/dbsp/src/circuit/schedule/mod.rs
  crates/dbsp/src/operator/condition.rs
  crates/dbsp/src/operator/dynamic/aggregate/mod.rs
  crates/dbsp/src/operator/dynamic/distinct.rs
  crates/dbsp/src/operator/dynamic/recursive.rs
Labels: bug, DBSP core

#4177 [WebConsole] Fix tooltip phrasing
  web-console/src/lib/components/pipelines/list/Actions.svelte
Labels: Web Console, UX

#4182 Update README.
  README.md
Labels: documentation, performance

#4205 [adapters] Ignore unsupported delta lake features.
  Cargo.lock
  Cargo.toml
Labels: adapters, user-reported

#4230 [adapters] Convert controller lock to RwLock.
  crates/adapters/src/server/mod.rs
Labels: adapters, user-reported

#4225 [adapters] Honor pause requests in s3 input connector.
  crates/adapters/src/transport/s3/mod.rs
Labels: bug, adapters
