Repository feldera/feldera, pull requests merged in 2025-05, with the labels that each got.

#3961 [dbsp] Account for full FBuf capacity in the buffer cache.
  crates/dbsp/src/storage/file/reader.rs
Labels: DBSP core, storage

#3954 [adapters] Fix FT tests.
  crates/adapters/src/controller/test.rs
Labels: ft, adapters

#3964 [dbsp] Better size storage buffers for writing.
  crates/dbsp/src/storage/file/writer.rs
Labels: bug, storage, rust

#3946 dbsp: storage: dont check for checkpoint directory
  crates/dbsp/src/circuit/checkpointer.rs
  crates/dbsp/src/circuit/dbsp_handle.rs
  crates/dbsp/src/circuit/runtime.rs
Labels: bug, DBSP core, storage, rust

#3970 [WebConsole] Redirect users ending up on '/pipelines/' URL to '/'
  web-console/src/routes/(system)/(authenticated)/(pipelines)/pipelines/+page.ts
Labels: Web Console, UX

#3973 [WebConsole] Add suspend and resume UI actions
  web-console/src/assets/fonts/feldera-material-icons.css
  web-console/src/assets/fonts/feldera-material-icons.svg
  web-console/src/assets/fonts/feldera-material-icons.ttf
  web-console/src/assets/fonts/feldera-material-icons.woff
  web-console/src/assets/fonts/feldera-material-icons.woff2
  web-console/src/assets/icons/feldera-material-icons/circle-stop-locked.svg
  web-console/src/assets/icons/feldera-material-icons/circle-stop.svg
  web-console/src/assets/icons/feldera-material-icons/square-power.svg
  web-console/src/lib/components/pipelines/editor/TabLogs.svelte
  web-console/src/lib/components/pipelines/list/Actions.svelte
  web-console/src/lib/components/pipelines/list/DeploymentStatus.svelte
  web-console/src/lib/components/pipelines/list/PipelineStatus.svelte
  web-console/src/lib/components/pipelines/list/PipelineStatusDot.svelte
  web-console/src/lib/components/pipelines/table/AvailableActions.svelte
  web-console/src/lib/compositions/usePremiumFeatures.svelte.ts
  web-console/src/lib/functions/pipelines/status.ts
  web-console/src/lib/services/pipelineManager.ts
Labels: Web Console, javascript

#4002 [dbsp] Spill to storage very large batches at insertion into the spine.
  crates/dbsp/src/trace/ord/fallback/mod.rs
  crates/dbsp/src/trace/ord/fallback/utils.rs
  crates/dbsp/src/trace/spine_async/mod.rs
Labels: DBSP core, storage, user-reported

#4003 [dbsp] Add node labels to profiles.
  crates/dbsp/src/circuit/circuit_builder.rs
  crates/dbsp/src/profile/mod.rs
Labels: DBSP core

#4004 [adapters] Print details of unique key violations.
  crates/adapterlib/src/catalog.rs
  crates/adapters/src/format/avro/output.rs
  crates/adapters/src/format/avro/test.rs
  crates/adapters/src/integrated/postgres/output.rs
  crates/adapters/src/static_compile/seroutput.rs
  crates/adapters/src/util.rs
Labels: adapters

#4016 [docs] Avro decimals are now supported.
  docs/formats/avro.md
Labels: documentation

#4030 [WebConsole] Better error handling: display server errors
  web-console/bun.lockb
  web-console/package.json
  web-console/src/lib/components/apiKey/NewApiKeyForm.svelte
  web-console/src/lib/components/input/DoubleClickInput.svelte
  web-console/src/lib/components/layout/pipelines/EditorOptionsPopup.svelte
  web-console/src/lib/components/layout/pipelines/PipelineConfigurationsPopup.svelte
  web-console/src/lib/components/layout/pipelines/PipelineEditLayout.svelte
  web-console/src/lib/components/layout/pipelines/PipelineToolbarMenuPopup.svelte
  web-console/src/lib/components/other/ApiKeyMenu.svelte
  web-console/src/lib/components/pipelines/PipelineNameInput.svelte
  web-console/src/lib/components/pipelines/editor/TabAdHocQuery.svelte
  web-console/src/lib/components/pipelines/editor/TabChangeStream.svelte
  web-console/src/lib/components/pipelines/editor/TabLogs.svelte
  web-console/src/lib/components/pipelines/list/Actions.svelte
  web-console/src/lib/components/pipelines/table/AvailableActions.svelte
  web-console/src/lib/compositions/health/systemErrors.ts
  web-console/src/lib/compositions/pipelines/usePipelineList.svelte.ts
  web-console/src/lib/compositions/pipelines/useTryPipeline.ts
  web-console/src/lib/compositions/useAggregatePipelineStats.svelte.ts
  web-console/src/lib/compositions/usePipelineManager.svelte.ts
  web-console/src/lib/compositions/useToastNotification.ts
  web-console/src/lib/compositions/useWritablePipeline.svelte.ts
  web-console/src/lib/functions/pipelines/status.ts
  web-console/src/lib/functions/request.ts
  web-console/src/lib/services/pipelineManager.ts
  web-console/src/lib/types/pipelineManager.ts
  web-console/src/routes/(system)/(authenticated)/(pipelines)/create/+page.ts
  web-console/src/routes/(system)/(authenticated)/(pipelines)/pipelines/[pipelineName]/+page.svelte
  web-console/src/routes/(system)/(authenticated)/(pipelines)/pipelines/[pipelineName]/+page.ts
  web-console/src/routes/(system)/(authenticated)/+layout.svelte
  web-console/src/routes/(system)/(authenticated)/+layout.ts
  web-console/src/routes/(system)/(authenticated)/+page.ts
  web-console/src/routes/(system)/(authenticated)/demos/+page.ts
  web-console/src/routes/(system)/+layout.svelte
  web-console/src/routes/+layout.svelte
Labels: Web Console, javascript, UX

#4041 [WebConsole] Fix white lines in AdHoc query results in dark mode
  web-console/src/lib/components/adhoc/Query.svelte
  web-console/src/lib/components/layout/pipelines/PipelineMemoryGraph.svelte
  web-console/src/lib/components/layout/pipelines/PipelineStorageGraph.svelte
  web-console/src/lib/components/layout/pipelines/PipelineThroughputGraph.svelte
  web-console/src/lib/components/pipelines/editor/TabAdHocQuery.svelte
Labels: Web Console, javascript

#4055 [WebConsole] Improve Performance tab design and UX
  web-console/src/lib/components/layout/userPopup/DarkModeSwitch.svelte
  web-console/src/lib/components/other/ClipboardCopyButton.svelte
  web-console/src/lib/components/pipelines/editor/TabPerformance.svelte
  web-console/src/lib/components/pipelines/list/Actions.svelte
Labels: Web Console, javascript

#4054 [sql] Emit optimized implementation of MAX.
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/compiler/frontend/CalciteToDBSPCompiler.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/ir/aggregate/IAggregate.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/ir/aggregate/LinearAggregate.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/ir/aggregate/MinMaxAggregate.java
  sql-to-dbsp-compiler/SQL-compiler/src/main/java/org/dbsp/sqlCompiler/ir/aggregate/NonLinearAggregate.java
  sql-to-dbsp-compiler/SQL-compiler/src/test/java/org/dbsp/sqlCompiler/compiler/sql/simple/Regression1Tests.java
Labels: SQL compiler, performance

#4058 [adapters] Re-implement the NOW() clock as a connector.
  crates/adapters/src/controller/mod.rs
  crates/adapters/src/transport/clock.rs
  crates/adapters/src/transport/mod.rs
  crates/feldera-types/src/config.rs
  crates/feldera-types/src/format/json.rs
  crates/feldera-types/src/serde_with_context/serde_config.rs
  crates/feldera-types/src/transport/clock.rs
  crates/feldera-types/src/transport/mod.rs
  crates/pipeline-manager/src/compiler/sql_compiler.rs
  openapi.json
Labels: ft, adapters

#4100 [adapters] Fix delta suspend test.
  crates/adapters/src/integrated/delta_table/test.rs
Labels: adapters, QA

#4103 [adapters] Avro: improve handling of binary types.
  crates/adapters/src/format/avro/input.rs
  crates/adapters/src/format/avro/schema.rs
  crates/adapters/src/format/avro/serializer.rs
  crates/adapters/src/format/avro/test.rs
Labels: adapters, user-reported
